<!doctype html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="icon" type="image/x-icon" href="/img/assets/ico/hors.ico">
		<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
		<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
		<link rel="stylesheet" href="css/variables.css"> <!-- Variables style -->
		<script src="js/modernizr.js"></script> <!-- Modernizr -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<title>HOrstRnq</title>
	</head>
	<body>
		<main class="cd-main-content horseplay-background is-fixed">
			<div class="cd-tab-filter-wrapper">
				<div class="cd-tab-filter">
					<ul id="menu-list" class="cd-filters js-signin-modal-trigger cd-main-nav__list shadow">
						<li class="placeholder"> 
							<a href="#0">DATABASE</a> <!-- selected option on mobile -->
						</li> 
						<li><a id="horsplayBtn" href="/">HORSPLAY</a></li>
						<li><a id="storeBtn" href="/store">STOR</a></li> 
						<li><a href="#0" id="" class="cd-filter-trigger hide">SETINGS</a></li> 
						<li><a href="#0" id="aboutBtn" class="cd-filter-trigger modal-trigger" data-target="aboutModal">ABOUT</a></li>
						<li><a href="#0" id="accountBtn" data-signin="login" class="cd-filter-trigger">SIGN IN</a></li>
						<li><a href="#0" id="myAccountBtn" class="cd-filter-trigger modal-trigger" data-target="accountModal"></a></li>
					</ul>
				</div>
			</div>

			<div id="databaseBanner" class="alertBanner banner shadow">
				<h3>
					<span style="font-weight:bold;">Note</span>: this paeg is for srs peple who forgot passwords. Don't use it badly or u'll be banned from Horstranq for all life.
				</h3>
			</div>

			<div id="userTable" class="rulez database shadow">
				<table class="table table--expanded@xs position-relative z-index-1 width-100% text-unit-em text-sm js-table" aria-label="Table Example">
					<thead class="table__header table__header--sticky">
						<tr class="table__row">
							<th class="table__cell text-left" scope="col">Usrnaem</th>
							<th class="table__cell text-left" scope="col">Emale</th>
							<th class="table__cell text-left hide" scope="col">Hi Scor</th>
							<th class="table__cell text-right" scope="col">Passwrd</th>
						</tr>
					</thead>
			
					<tbody class="table__body">
						<!-- Table rows will be added here by JavaScript -->
					</tbody>
				</table>
			</div>

			<!-- ABOUT MODAL -->
			<div id="aboutModal" class="cd-filter shadow">
				<form>
					<div class="cd-filter-block">
						<p class="bold">Abot Horsetranq</p>
						<div class="rulez">
							<h1 style="font-size: 16px;text-align: left;padding: 10px 0px;line-height: 1.7;">
								Horsetranq.com was found in 2001 durin the DOCTOM bubble. Y2k and Gran Turismo 2 devlopers teamed up to make this websit. Thanks for tuning in en being a subsriber.
							</h1>
						</div>
					</div>
					<div class="cd-filter-block">
						<p class="bold">Horsplay ruelz</p>
						<div class="rulez">
							<h1 style="font-size: 16px;text-align: left;padding: 10px 0px;">
								<span style="font-weight:bold;">Note</span>: No real hors harmed in game
							</h1>
							<h1 style="font-size: 16px;text-align: left;padding: 10px 0px;">
								1. Hit hors with tranq
							</h1>
							<h1 style="font-size: 16px;text-align: left;padding: 10px 0px;">
								2. Get pts for a horstranq
							</h1>
							<h1 style="font-size: 16px;text-align: left;padding: 10px 0px;">
								2. Hors dont want to b tranqd. 
							</h1>
						</div>
					</div>

					<div class="cd-filter-block">
						<p class="bold">Donat to hors fundation
							<span>
								(<a href="https://www.foundationforthehorse.org/give-now/" style="font-weight:bold;">view cite</a>)
							</span>
						</p>
						<div class="rulez">
							<h1 style="line-height: 1.5;">Enter card info</h1>
							<div id="valuable-trash">
								<div id="creditCardLine">
									<div class="input-wrapper">
										<div class="input-icon">
											<input type="text" id="creditCard" name="creditCard" class="contact-label" placeholder="CrEDIT CARD + ZIPs + CvS #">
										</div>
									</div>
								</div>
								<div id="contactForm">
									<div class="input-wrapper">
										<div class="input-icon">
											<input type="text" id="fname" name="fname" class="contact-label" placeholder="1st NamE">
										</div>
									</div>
									<div class="input-wrapper">
										<div class="input-icon">
											<input type="text" id="lname" name="lname" class="contact-label" placeholder="2nd NAMe">
										</div>
									</div>
									<div class="input-wrapper">
										<div class="input-icon">
											<input type="text" id="email" name="email" class="contact-label" placeholder="EmAIL (dont care)">
										</div>
									</div>
								</div>
								<button type="button" id="submit" class="pickle shadow">Save</button>
							</div>
						</div>
					</div>
				</form>
				<a href="#0" class="cd-close-filter"></a>
			</div>

		{% if logged_in %}
			<!-- ACCOUNT MODAL -->
			<div id="accountModal" class="cd-filter shadow">
				<form>
					<div class="cd-filter-block">
						<p class="bold">Account settings</p>
						<div class="cd-filter-content">
							<div class="cd-select cd-filters">
								<select id="" class="settingsOptn">
									<option selected disabled>Difficulty</option>
									<option value="difficultyEasy">Easy</option>
									<option value="difficultyMedium">Medium</option>
									<option value="difficultyHard">Hard</option>
								</select>
							</div>
						</div>
					</div>
					<div class="cd-filter-block">
						<p class="bold">Account settings alt</p>
						<div class="cd-filter-content">
							<div class="cd-select cd-filters">
								<div id="" class="settingsPanel">
									<ul class="cd-filter-content cd-filters list" style="display: block;">
										<li>
											<input class="filter" data-filter=".check1" type="checkbox" id="checkbox1">
											<label class="checkbox-label" for="checkbox1">Option 1</label>
										</li>
										<li>
											<input class="filter" data-filter=".check2" type="checkbox" id="checkbox2">
											<label class="checkbox-label" for="checkbox2">Option 2</label>
										</li>
										<li>
											<input class="filter" data-filter=".check3" type="checkbox" id="checkbox3">
											<label class="checkbox-label" for="checkbox3">Option 3</label>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="cd-filter-block">
						<p class="bold">Bad options</p>
						<div id="accountTools" class="cd-filter-content cd-filters list settingsPanel" style="display: block;">
							<button type="button" id="accountSaveBtn" class="pickle shadow hide">Save</button>
							<button type="button" id="accountSignOutBtn" class="pickle shadow">Sign Out</button>
							<button type="button" id="accountDeleteBtn" class="pickle shadow">Delet Accnt</button>
						</div>
					</div>
				</form>
				<a href="#0" class="cd-close-filter">
					<img id="account-close"></img>
				</a>
			</div>
		{% else %}
		{% endif %}

		</main> <!-- cd-main-content -->

		<script>
			$(document).ready(function() {
				$.getJSON('/api/users', function(data) {
					$.each(data, function(key, val) {
						var row = `
							<tr class="table__row">
								<td class="table__cell" role="cell">
									<span class="table__label" aria-hidden="true">Name:</span> ${val.username}
								</td>
							
								<td class="table__cell" role="cell">
									<span class="table__label" aria-hidden="true">Email:</span> ${val.email}
								</td>
							
								<td class="table__cell text-left hide" role="cell">
									<span class="table__label" aria-hidden="true">Hi Scor:</span> ${val.high_score}
								</td>

								<td class="table__cell text-right" role="cell">
									<span class="table__label" aria-hidden="true">Password:</span> ${val.password}
								</td>
							</tr>
						`;
						$('.table__body').append(row);
					});
				});
			});
		</script>	
			
	<script src="js/jquery-2.1.1.js"></script>
	<script src="js/main.js"></script> <!-- Resource jQuery -->
	<script src="js/jquery.min.js"></script> <!-- Added for the draggable UI -->
	<script src="js/jquery-ui.js"></script> <!-- Added for the draggable UI -->
	<script src="js/jquery.ui.touch-punch.min.js"></script> 
	</body>
</html>