{% if logged_in %}
	<!-- ACCOUNT MODAL -->
	<div id="accountModal" class="cd-filter shadow">
		<div class="sticky-container">
			<div class="modal-title-container sticky">
				<div class="modal-title-wrapper">
					<div class="title-wrapper">
						<h4 class="modal-title big-bold color-primary-darker center">Account Profile</h4>
						<a href="#0" class="cd-close-filter flex-right"></a>
					</div>
				</div>
			</div>
		</div>
		<form>
			<div class="title-wrapper flex" style="padding-top:0;">
				<h4 class="big-big-bold color-primary">SUBSCRIPER OPTIONS</h4>
			</div>
			<div class="cd-filter-block">
				<div class="cd-filter-content">
					<div class="title-wrapper flex settings">
						<h4 class="bold color-contrast-medium">Plan</h4>
						{% if subscription_type == 'free' %}
							<div class="label free big-bold">FREE MEMBER</div>
						{% elif subscription_type == 'one' %}
							<div class="label one big-bold">ONE</div>
						{% elif subscription_type == 'plus' %}
							<div class="label plus big-bold">PLUS</div>
						{% elif subscription_type == 'max' %}
							<div class="label max big-bold">MAX</div>
						{% else %}
						{% endif %}
					</div>
				</div>
			</div>
			<div class="cd-filter-block">
				<div class="cd-filter-content">
					<div class="title-wrapper flex" style="padding-top:0;">
						<h4 class="big-big-bold color-primary">PROFIL ICON OPTIONS</h4>
					</div>
					<div class="title-wrapper flex settings">
						<h4 class="bold color-contrast-medium">Profile icon</h4>
						<div id="avatar-selector-wrapper" class="custom-select no-margin">
							<div id="avatar-selector" class="optn-select no-highlight" data-value="{{ avatar_type }}">
								{% if avatar_type == 'google-profile' %}
									<span class="avatar-option-text">Google Profile</span>
									<img src="{{ picture }}" alt="Google Profile" class="avatar-option-image" width="30" height="30">
								{% elif avatar_type == 'default-avatar' %}
									<span class="avatar-option-text">Defalt Hors membar</span>
									<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/480px-Default_pfp.svg.png" alt="Default Avatar" class="avatar-option-image" width="30" height="30">
								{% elif avatar_type == 'hors-foundation' %}
									<span class="avatar-option-text">Hors Foundation</span>
									<img src="/static/img/branding/season-1.png" alt="Hors Foundation" class="avatar-option-image" width="30" height="30">
								{% elif avatar_type == 'hors-season-1' %}
									<span class="avatar-option-text">Hors Season 1 Member</span>
									<img src="/static/img/branding/season-1.png" alt="Hors Season 1" class="avatar-option-image" width="30" height="30">
								{% elif avatar_type == 'hors-season-2' %}
									<span class="avatar-option-text">Hors Season 2 Member</span>
									<img src="/static/img/branding/season-2.png" alt="Hors Season 2" class="avatar-option-image" width="30" height="30">
								{% else %}
									<span class="avatar-option-text">Google Profile</span>
									<img src="{{ picture }}" alt="Google Profile" class="avatar-option-image" width="30" height="30">
								{% endif %}
							</div>
							<div class="options">
								<div class="option" data-value="google-profile">
									<span class="avatar-option-text">Google Profile</span>
									<img src="{{ picture }}" alt="Google Profile" class="avatar-option-image" width="30" height="30">
								</div>
								<div class="option" data-value="default-avatar">
									<span class="avatar-option-text">Default Avatar</span>
									<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/480px-Default_pfp.svg.png" alt="Default Avatar" class="avatar-option-image" width="30" height="30">
								</div>
								<div class="option" data-value="hors-foundation">
									<span class="avatar-option-text">Hors Foundation</span>
									<img src="/static/img/branding/season-1.png" alt="Hors Foundation" class="avatar-option-image" width="30" height="30">
								</div>
								<div class="option" data-value="hors-season-1">
									<span class="avatar-option-text">Hors Season 1 Member</span>
									<img src="/static/img/branding/season-1.png" alt="Hors Season 1" class="avatar-option-image" width="30" height="30">
								</div>
								<div class="option" data-value="hors-season-2">
									<span class="avatar-option-text">Hors Season 2 Member</span>
									<img src="/static/img/branding/season-2.png" alt="Hors Season 2" class="avatar-option-image" width="30" height="30">
								</div>
							</div>
						</div>
					</div>
					<div class="title-wrapper flex settings">
						<h4 class="bold color-contrast-medium">Hide profile icon</h4>
						<div class="hide-avatar-checkbox">
							<label class="checkbox-label">
								<input type="checkbox" id="hideAvatarCheckbox" {% if hide_avatar == 'Yes' %}checked{% endif %}>
								<span class="checkmark"></span>
							</label>
						</div>
					</div>
				</div>
			</div>
			<div class="title-wrapper flex" style="padding-top:0;">
				<h4 class="big-big-bold color-primary">ACOUNT DE-TAILS</h4>
			</div>
			<div class="cd-filter-block">
				<div class="cd-filter-content">
					<div class="title-wrapper flex settings">
						<h4 class="bold color-contrast-medium">Name</h4>
						<p class="bold color-contrast-higher">
							{% if name %}
								{{ name }}
							{% else %}
								Guest
							{% endif %}
						</p>
					</div>
					<div class="title-wrapper flex settings">
						<h4 class="bold color-contrast-medium">Email</h4>
						<p class="bold color-contrast-higher">
							{% if logged_in %}
								{{ email }}
							{% else %}
								Unknown
							{% endif %}
						</p>
					</div>
					<div class="title-wrapper flex settings">
						<h4 class="bold color-contrast-medium">Username</h4>
						<div class="username-editable">
							<p class="bold color-contrast-higher username-display" id="usernameDisplay">
								{% if username %}
									{{ username }}
								{% else %}
									Not assigned
								{% endif %}
							</p>
							<div class="username-edit-controls" style="display: none;">
								<input type="text" id="usernameInput" class="username-input" value="{{ username }}" maxlength="20">
								<button type="button" id="usernameSaveBtn" class="btn-small">Save</button>
								<button type="button" id="usernameCancelBtn" class="btn-small">Cancel</button>
							</div>
							<button type="button" id="usernameEditBtn" class="btn-small edit-btn">Change</button>
						</div>
					</div>
					<div class="title-wrapper flex settings">
						<h4 class="bold color-contrast-medium">User ID</h4>
						<p class="bold color-contrast-higher">
							{% if unique_user_id %}
								{{ unique_user_id }}
							{% else %}
								Not assigned
							{% endif %}
						</p>
					</div>
				</div>
			</div>
			<div class="cd-filter-block">
				<div id="accountTools" class="title-wrapper flex settings bg-none">
					<button type="button" id="accountSaveBtn" class="pickle shadow hide">Save</button>
					<button type="button" id="accountSignOutBtn" class="pickle shadow">Sign Out</button>
					<button type="button" id="accountDeleteBtn" class="pickle shadow hide">Delet Accnt</button>
				</div>
			</div>
		</form>
	</div>
{% else %}
{% endif %}
