.project-info .flex h2 {
  background: var(--color-white);
  padding: 6px;
  width: max-content;
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-base);
}
.project-info p {
  font-size: var(--font-size-lg);
  margin: var(--space-xs);
  background: var(--color-white);
  padding: 6px;
  color: var(--color-primary-darker);
  width: max-content;
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-base);
}
.project-info {
  height: min-content;
  width: max-content;
  border-top-left-radius: var(--radius-lg);
  border-top-right-radius: var(--radius-lg);
  /*background: rgb(0 0 0 / 30%);*/
}
.project-info .flex {
  padding: 1em;
}
.project-info.coming-soon {
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 80%);
  border-radius: 6px;
  transition: .1s ease-in-out;
}
.project-info.coming-soon:hover {
  background: transparent;
}
.label {
  width: max-content;
}
@media only screen and (max-width: 800px) {
  #games-title {
    margin-top: 0;
  }
}

