/* -------------------------------- 

File#: _1_stacking-cards
Title: Stacking Cards
Descr: Cards stack effect on vertical scrolling
Usage: codyhouse.co/license

-------------------------------- */
a {
  color: inherit;
}

.stack-cards {
  --stack-cards-gap: var(--space-sm);
  --stack-cards-item-ratio: 2/1;
}

.stack-cards__item {
  position: relative;
  position: sticky;
  top: var(--space-md);
  height: 0;
  padding-bottom: calc(100% / (var(--stack-cards-item-ratio)));
  transform-origin: center top;
}
.stack-cards__item > * {
  font-weight: 800;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.stack-cards__item img {
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-base);
}

.cd-projects-wrapper.projects-visible {
  margin: calc(22px + 9rem) auto;
  max-width: 70%;
}

/* over rule the overflow hidden trait on main.css */
.cd-main-content {
  overflow: inherit;
}
body {
  position: relative!important;
  overscroll-behavior-y: none;
}
.stable-wrapper {
  margin: 6em auto;
  width: 70%;
}
@media only screen and (max-width: 800px) {
  .stable-wrapper {
    position: absolute;
    margin: 4em 5% 10em 5%;
    width: 90%;
  }
  .project-info .flex .label {
    display: block;
  }
}

.cd-slider {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.project-info .flex h2 {
  background: var(--color-white);
  padding: 6px;
  width: max-content;
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-base);
}
.project-info p {
  font-size: var(--font-size-lg);
  margin: var(--space-xs);
  background: var(--color-white);
  padding: 6px;
  color: var(--color-primary-darker);
  width: max-content;
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-base);
}
.project-info {
  height: min-content;
  width: max-content;
  border-top-left-radius: var(--radius-lg);
  border-top-right-radius: var(--radius-lg);
  /*background: rgb(0 0 0 / 30%);*/
}
.project-info .flex {
  padding: 1em;
}
.project-info.coming-soon {
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 80%);
  border-radius: var(--radius-lg);
  transition: .1s ease-in-out;
}
.project-info.coming-soon:hover {
  background: transparent;
}
.label {
  width: max-content;
}
.title-container {
  text-align: center;
  margin: 2em 0;
  display: flex;
  align-items: center;
  /*justify-content: center;*/
}
@media only screen and (max-width: 800px) {
  #games-title {
    margin-top: 0;
  }
  .cd-slider {
    flex-direction: column;
    align-items: center;
}
}
#news-title {
}
.title-container h2 {
  font-size: var(--font-size-4xl);
  width: max-content;
  background: white;
  padding: 10px;
  border-radius: var(--radius-sm);
}
.title-container p {
  margin: var(--space-xs);
  padding: 6px;
  color: white;
  border-radius: var(--radius-sm);
  box-shadow: none;
  font-size: var(--font-size-xl);
  font-weight: 800;
}


/* Stories CSS component */
/* -------------------------------- 

File#: _1_stories
Title: Stories
Descr: A collection of related article tasters
Usage: codyhouse.co/license

-------------------------------- */
/* reset */
*, *::after, *::before {
  box-sizing: border-box;
}

* {
  font: inherit;
  margin: 0;
  padding: 0;
  border: 0;
}

/*
body {
  background-color: hsl(0, 0%, 100%);
  color: hsl(230, 7%, 23%);
}


h1, h2, h3, h4 {
  line-height: 1.2;
  color: hsl(230, 13%, 9%);
  font-weight: 700;
}

h1 {
  font-size: 2.0736rem;
}

h2 {
  font-size: 1.728rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.2rem;
}
*/
ol, ul, menu {
  list-style: none;
}

button, input, textarea, select {
  background-color: transparent;
  border-radius: 0;
  color: inherit;
  line-height: inherit;
  appearance: none;
}

textarea {
  resize: vertical;
  overflow: auto;
  vertical-align: top;
}

a {
  color: var(--color-primary-darker);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, video, svg {
  display: block;
  max-width: 100%;
}

@media (min-width: 64rem) {
  /*
  body {
    font-size: 1.25rem;
  }

  h1 {
    font-size: 3.051rem;
  }

    h2 {
    font-size: 2.44rem;
  }

    h3 {
    font-size: 1.75rem;
  }

    h4 {
    font-size: 1.5625rem;
  }
  */
}

/* variables */
:root {
  /* colors */
  --sz3-color-primary-hsl: 250, 84%, 54%;
  --sz3-color-bg-hsl: 0, 0%, 100%;
  --sz3-color-contrast-high-hsl: 230, 7%, 23%;
  --sz3-color-contrast-higher-hsl: 230, 13%, 9%;
  --sz3-color-contrast-lower-hsl: 240, 4%, 85%;
  --sz3-color-contrast-low-hsl: 240, 4%, 65%;
  --sz3-color-contrast-medium-hsl: 225, 4%, 47%;
  --sz3-color-accent-hsl: 342, 89%, 48%;

  /* spacing */
  --sz3-space-3xs: 0.25rem;
  --sz3-space-xs: 0.5rem;
  --sz3-space-sm: 0.75rem;
  --sz3-space-md: 1.25rem;

  /* typography */
  --sz3-text-sm: 0.833rem;
}

@media(min-width: 64rem){
  :root {
    /* spacing */
    --sz3-space-3xs: 0.375rem;
    --sz3-space-xs: 0.75rem;
    --sz3-space-sm: 1.125rem;
    --sz3-space-md: 2rem;

    /* typography */
    --sz3-text-sm: 1rem;
  }
}

/* component */
.stories {
  /*background-color: hsla(var(--sz3-color-contrast-lower-hsl), 0.3);*/
  border-radius: 0.5em;
  margin-bottom: 4em;
}
@media (min-width: 64rem) {
  .stories {
    padding: 0 4rem 4rem 4rem;
  }
  .stories__story .stories__img-wrapper {
    width: 16rem;
  }
  .stories__list .stories__story {
    min-height: 160px;
    padding: 0 2em;
  }
  .stories__text .stories__headline {
    font-size: var(--font-size-2xl);
  }
  .stories__story.ui-container {
    padding: 2.4em;
  }
}

.stories__legend {
  /*font-size: 1rem;*/
  margin-bottom: var(--sz3-space-md);
  color: hsl(var(--sz3-color-contrast-medium-hsl));
}

.stories__story {
  display: flex;
  align-items: center;
  height: min-content;
  transition: .1s ease-in-out;
  cursor: pointer;
}
.stories__story.ui-container {
  padding: 1.4em;
}
.stories__story.ui-container:hover {
  background: rgb(255 255 255 / 80%);
}
.stories__story:not(:last-child) {
  margin-bottom: var(--sz3-space-sm);
  /*padding-bottom: var(--sz3-space-sm);
  border-bottom: 1px solid #3b74ab;*/
}

.stories__img-wrapper {
  display: block;
  width: 8rem; /* was 3.6rem */
  height: 100%; /* was 3.6rem */
  border-radius: var(--radius-lg);
  overflow: hidden;
  flex-shrink: 0;
  transition: opacity 0.2s;
  margin-right: var(--sz3-space-xs);
}
.stories__img-wrapper figure, .stories__img-wrapper img {
  width: inherit;
  height: inherit;
}
.stories__img-wrapper img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.stories__img-wrapper:hover {
  opacity: 0.85;
}

.stories__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stories__headline {
  /*font-size: 1.25rem;*/
}

.stories__metadata {
  color: var(--color-primary-darker);
  /*font-size: 0.833rem;*/
  text-transform: uppercase;
}
.stories__headline a {
  font-size: var(--font-size-xl);
}
.stories__headline a,
.stories__metadata a {
  text-decoration: none;
  font-weight: 800;
}
.stories__headline a:hover,
.stories__metadata a:hover {
  text-decoration: underline;
}

.stories__separator {
  display: inline-block;
  width: 6px;
  height: 6px;
  vertical-align: middle;
  background-color: hsl(var(--sz3-color-contrast-low-hsl));
  border-radius: 50%;
  margin: 0 var(--sz3-space-3xs);
}
.sz3-text-component {
  color: var(--color-primary-darker);
  font-weight: 800;
}
/* utility classes */
.sz3-text-gap-2xs {
  --sz3-space-multiplier: 0.25;
}

.sz3-line-height-md {
  line-height: 1.4;
}

.sz3-text-component :where(h1, h2, h3, h4) {
  line-height: var(--sz3-heading-line-height, 1.2);
  margin-top: calc(var(--sz3-space-md) * var(--sz3-space-multiplier, 1));
  margin-bottom: calc(var(--sz3-space-sm) * var(--sz3-space-multiplier, 1));
}

.sz3-text-component :where(p, blockquote, ul li, ol li) {
  line-height: var(--sz3-body-line-height, 1.4);
}

.sz3-text-component :where(ul, ol, p, blockquote, .sz3-text-component__block) {
  margin-bottom: calc(var(--sz3-space-sm) * var(--sz3-space-multiplier, 1));
}

.sz3-text-component :where(ul, ol) {
  padding-left: 1.25em;
}

.sz3-text-component ul :where(ul, ol), .sz3-text-component ol :where(ul, ol) {
  padding-left: 1em;
  margin-bottom: 0;
}

.sz3-text-component ul {
  list-style-type: disc;
}

.sz3-text-component ol {
  list-style-type: decimal;
}

.sz3-text-component img {
  display: block;
  margin: 0 auto;
}

.sz3-text-component figcaption {
  margin-top: calc(var(--sz3-space-xs) * var(--sz3-space-multiplier, 1));
  font-size: var(--sz3-text-sm);
  text-align: center;}

.sz3-text-component em {
  font-style: italic;
}

.sz3-text-component strong {
  font-weight: bold;
}

.sz3-text-component s {
  text-decoration: line-through;
}

.sz3-text-component u {
  text-decoration: underline;
}

.sz3-text-component mark {
  background-color: hsla(var(--sz3-color-accent-hsl), 0.2);
  color: inherit;
}

.sz3-text-component blockquote {
  padding-left: 1em;
  border-left: 4px solid hsl(var(--sz3-color-contrast-lower-hsl));
  font-style: italic;
}

.sz3-text-component hr {
  margin: calc(var(--sz3-space-md) * var(--sz3-space-multiplier, 1)) auto;
  background: hsl(var(--sz3-color-contrast-lower-hsl));
  height: 1px;
}

.sz3-text-component > *:first-child {
  margin-top: 0;
}

.sz3-text-component > *:last-child {
  margin-bottom: 0;
}

.sz3-text-component.sz3-line-height-xs {
  --sz3-heading-line-height: 1;
  --sz3-body-line-height: 1.1;
}

.sz3-text-component.sz3-line-height-sm {
  --sz3-heading-line-height: 1.1;
  --sz3-body-line-height: 1.2;
}

.sz3-text-component.sz3-line-height-md {
  --sz3-heading-line-height: 1.15;
  --sz3-body-line-height: 1.4;
}

.sz3-text-component.sz3-line-height-lg {
  --sz3-heading-line-height: 1.22;
  --sz3-body-line-height: 1.58;
}

.sz3-text-component.sz3-line-height-xl {
  --sz3-heading-line-height: 1.3;
  --sz3-body-line-height: 1.72;
}