/* -------------------------------- 

File#: _1_stacking-cards
Title: Stacking Cards
Descr: Cards stack effect on vertical scrolling
Usage: codyhouse.co/license

-------------------------------- */
.stack-cards {
  --stack-cards-gap: var(--space-sm);
  --stack-cards-item-ratio: 2/1;
}

.stack-cards__item {
  position: relative;
  position: sticky;
  top: var(--space-md);
  height: 0;
  padding-bottom: calc(100% / (var(--stack-cards-item-ratio)));
  transform-origin: center top;
}
.stack-cards__item > * {
  font-weight: 800;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.stack-cards__item img {
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-base);
}

.cd-projects-wrapper.projects-visible {
  margin: calc(22px + 9rem) auto;
  max-width: 70%;
}

/* over rule the overflow hidden trait on main.css */
.cd-main-content {
  overflow: inherit;
}
body {
  position: relative!important;
}
.stable-wrapper {
  position: absolute;
  margin: 4em 20%;
  width: 60%;
}
@media only screen and (max-width: 800px) {
  .stable-wrapper {
    position: absolute;
    margin: 4em 5%;
    width: 90%;
  }
  .project-info .flex .label {
    display: block;
  }
}


.project-info .flex h2 {
  background: var(--color-white);
  padding: 6px;
  width: max-content;
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-base);
}
.project-info p {
  font-size: var(--font-size-lg);
  margin: var(--space-xs);
  background: var(--color-white);
  padding: 6px;
  color: var(--color-primary-darker);
  width: max-content;
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-base);
}
.project-info {
  height: min-content;
  width: max-content;
  border-top-left-radius: var(--radius-lg);
  border-top-right-radius: var(--radius-lg);
  /*background: rgb(0 0 0 / 30%);*/
}
.project-info .flex {
  padding: 1em;
}
.project-info.coming-soon {
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 80%);
  border-radius: var(--radius-lg);
  transition: .1s ease-in-out;
}
.project-info.coming-soon:hover {
  background: transparent;
}
.label {
  width: max-content;
}
.title-container {
  text-align: center;
  margin: 2em 0;
}
@media only screen and (max-width: 800px) {
  #games-title {
    margin-top: 0;
  }
  #news-title {
    margin-top: 4;
  }
}
.title-container h2 {
  font-size: var(--font-size-4xl);
  width: max-content;
  margin: 0 auto;
  background: white;
  padding: 10px;
  border-radius: var(--radius-sm);
}
.title-container p {
  margin: var(--space-xs);
  padding: 6px;
  color: white;
  border-radius: var(--radius-sm);
  text-align: center;
  width: 100%;
  box-shadow: none;
  font-size: var(--font-size-xl);
  font-weight: 800;
}