/* -------------------------------- 

File#: _2_image-comparison-slider
Title: Image Comparison Slider
Descr: A draggable image slider used to compare two versions of the same image
Usage: codyhouse.co/license

-------------------------------- */
  
  /* variables */
  :root {
    /* colors */
    --iy2-color-primary-hsl: 250, 84%, 54%;
    --iy2-color-bg-hsl: 0, 0%, 100%;
    --iy2-color-contrast-high-hsl: 230, 7%, 23%;
    --iy2-color-contrast-higher-hsl: 230, 13%, 9%;
    --iy2-color-black-hsl: 230, 13%, 9%;
    --iy2-color-white-hsl: 0, 0%, 100%;
  
    /* spacing */
    --iy2-space-sm: 0.75rem;
  
    /* typography */
    --iy2-text-sm: 0.833rem;
  }
  
  @media(min-width: 64rem){
    :root {
      /* spacing */
      --iy2-space-sm: 1.125rem;
  
      /* typography */
      --iy2-text-sm: 1rem;
    }
  }
  
  /* icons */
  .iy2-icon {
    height: var(--iy2-size, 1em);
    width: var(--iy2-size, 1em);
    display: inline-block;
    color: inherit;
    fill: currentColor;
    line-height: 1;
    flex-shrink: 0;
    max-width: initial;
  }
  
  .iy2-icon--sm {
    --iy2-size: 24px;
  }
  
  /* component */
  .compare-slider {
    position: relative;
    max-width: 800px;
    width: 90%;
    margin: 1em auto;
    border: 3px solid rgba(255,255,255,0.2);
    border-radius: 10px;
    z-index: 2;
    overflow: hidden;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  }

  .compare-slider img {
    display: block;
    width: 100%;
    pointer-events: none;
  }
  
  .compare-slider__inner {
    position: relative;
  }
  
  .compare-slider__img {
    position: relative;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    overflow: hidden;
  }
  
  .compare-slider__caption {
    position: absolute;
    bottom: 0;
    font-size: var(--iy2-text-sm);
    padding: var(--iy2-space-sm);
    background-color: hsla(var(--color-primary-hsl), 0.75);
    color: var(--color-white);
    font-weight: 800;
    font-size: var(--font-size-xl);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    transition: opacity 0.3s, visibility 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
    transition: opacity 0.3s, visibility 0.3s, transform 0.3s, -webkit-transform 0.3s;
  }
  
  .compare-slider__img--original .compare-slider__caption {
    right: 0;
  }
  
  .compare-slider__img--modified .compare-slider__caption {
    left: 0;
  }
  
  .compare-slider__handle {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    color: hsl(var(--iy2-color-contrast-higher-hsl));
    background-color: hsl(var(--iy2-color-bg-hsl));
    box-shadow: 0 0.3px 0.4px rgba(0, 0, 0, 0.025),0 0.9px 1.5px rgba(0, 0, 0, 0.05), 0 3.5px 6px rgba(0, 0, 0, 0.1);
    cursor: -webkit-grab;
    cursor: grab;
    will-change: left;
    align-items: center;
    justify-content: center;
    -webkit-transform: translateY(-50%) translateX(-50%) scale(0);
            transform: translateY(-50%) translateX(-50%) scale(0);
    margin-left: -1px;
  }
  
  .compare-slider--is-dragging .compare-slider__handle {
    cursor: -webkit-grabbing;
    cursor: grabbing;
    box-shadow: 0 0.3px 0.4px rgba(0, 0, 0, 0.025),0 0.9px 1.5px rgba(0, 0, 0, 0.05), 0 3.5px 6px rgba(0, 0, 0, 0.1), 0 0 0 4px hsla(var(--iy2-color-contrast-higher-hsl), 0.5);
  }
  
  .compare-slider__input-handle {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    opacity: 0;
  }
  
  .compare-slider__input-handle:focus + .compare-slider__handle {
    color: hsl(var(--iy2-color-primary-hsl));
    box-shadow: 0 0.3px 0.4px rgba(0, 0, 0, 0.025),0 0.9px 1.5px rgba(0, 0, 0, 0.05), 0 3.5px 6px rgba(0, 0, 0, 0.1), 0 0 0 4px hsla(var(--iy2-color-contrast-higher-hsl), 0.5);
  }
  
  .compare-slider__img--modified {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    border-right: 8px solid rgba(255,255,255,0.6);
    will-change: width;
    backdrop-filter: blur(4px);
  }
  .compare-slider__img--modified img {
    height: 100%;
    width: auto;
    max-width: none;
  }
  
  .compare-slider--in-viewport .compare-slider__img--modified {
    width: 50%;
    -webkit-animation: compare-slider-bounce-in 0.7s;
            animation: compare-slider-bounce-in 0.7s;
  }
  
  .compare-slider__caption {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  
  .compare-slider--in-viewport .compare-slider__caption {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  
  .compare-slider--in-viewport .compare-slider__caption--is-hidden {
    opacity: 0;
    visibility: hidden;
  }
  
  .compare-slider__img--original .compare-slider__caption--is-hidden {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  
  .compare-slider__img--modified .compare-slider__caption--is-hidden {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  
  .compare-slider__handle {
    display: block;
    display: flex;
    opacity: 0;
  }
  
  .compare-slider--in-viewport .compare-slider__handle {
    transition: opacity 0s 0.7s, -webkit-transform 0.3s 0.7s;
    transition: transform 0.3s 0.7s, opacity 0s 0.7s;
    transition: transform 0.3s 0.7s, opacity 0s 0.7s, -webkit-transform 0.3s 0.7s;
    -webkit-transform: translateY(-50%) translateX(calc(-50% - 3px)) scale(1);
            transform: translateY(-50%) translateX(calc(-50% - 3px)) scale(1);
    opacity: 1;
  }
  
  .compare-slider__input-handle {
    display: block;
  }
  
  .compare-slider--reduced-motion .compare-slider__img--modified {
    -webkit-animation: none;
            animation: none;
  }
  
  .compare-slider--reduced-motion .compare-slider__handle,
  .compare-slider--reduced-motion .compare-slider__caption {
    transition: none;
  }
  
  @-webkit-keyframes compare-slider-bounce-in {
    0% {
      width: 0%;
    }
    60% {
      width: 55%;
    }
    100% {
      width: 50%;
    }
  }
  
  @keyframes compare-slider-bounce-in {
    0% {
      width: 0%;
    }
    60% {
      width: 55%;
    }
    100% {
      width: 50%;
    }
  }