<!doctype html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;900&display=swap" rel="stylesheet">
		<link rel="icon" type="image/x-icon" href="/static/img/assets/ico/hors.ico">
		<link rel="stylesheet" href="../static/css/reset.css"> <!-- CSS reset -->
		<link rel="stylesheet" href="../static/css/style.css"> <!-- Main style -->
		<link rel="stylesheet" href="../static/css/about.css"> <!-- Main style -->
		<link rel="stylesheet" href="../static/css/variables.css"> <!-- Variables style -->
		<script src="../static/js/resources/modernizr.js"></script> <!-- Modernizr -->
		<script src="https://cdn.auth0.com/js/auth0/9.18/auth0.min.js"></script>
		<script src="https://cdn.auth0.com/js/auth0-spa-js/2.0/auth0-spa-js.production.js"></script>
		<title>HOrstRnq</title>
	</head>
	<body>
		<main class="static-bg is-fixed">
			<div class="cd-tab-filter-wrapper">
				<div class="cd-tab-filter">
					<ul id="menu-list" class="cd-filters js-signin-modal-trigger cd-main-nav__list shadow">
						<li class="placeholder"> 
							<a href="#0">ABOUT</a> <!-- selected option on mobile -->
						</li> 
						<li><a id="horsplayBtn" href="/">STABLE</a></li>
						<li><a id="storeBtn" href="/store">STOR</a></li> 
						<li><a href="/about" id="aboutBtn" class="cd-filter-trigger modal-trigger selected"data-target="aboutModal" class="selected">ABOUT</a></li>
						{% if logged_in %}
						<li><a href="#0" id="myAccountBtn" class="cd-filter-trigger modal-trigger" data-target="accountModal">{{ session.profile.name.split(' ')[0] }}</a></li>
						{% else %}
							<li><a href="/login" id="accountBtn" class="cd-filter-trigger" data-target="accountModal">SIGN IN</a></li>
						{% endif %}	
						<li><div class="label beta">BETA</li>
					</ul>
				</div>
			</div>

			<div class="about-wrapper">
				<section class="position-relative z-index-1 padding-y-xl">
					<div class="container max-width-adaptive-md">
						<div id="about-title" class="title-container">
							<h2 class="big-bold">QUESTONS</h2>
							<p>frequent FAQs</p>
						</div>
					
						<div class="grid gap-lg">
						<div #id="mobile-selector" class="col-3@md">
							<div class="toc toc--static@md position-sticky@md js-toc">
							<button class=" toc__control padding-md no-js:hide  js-toc__control" aria-controls="toc">
								<span class="toc__control-text">
								<i class="js-toc__control-label">Categories <span class="sr-only">- press button to select a category.</span></i>
								<i aria-hidden="true">Select</i>
								</span>
					
								<svg class="toc__icon-arrow icon icon--xs margin-left-3xs no-js:hide" viewBox="0 0 16 16" aria-hidden="true">
								<g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
									<path d="M3 3l10 10"></path>
									<path d="M13 3L3 13"></path>
								</g>
								</svg>
							</button>
					
							<nav class="toc__nav">
								<ul class="toc__list js-toc__list">
								<li class="toc__label hide" tabindex="0">Categories</li>
								<li><a class="toc__link js-smooth-scroll" href="#basics">Basics</a></li>
								<li><a class="toc__link js-smooth-scroll" href="#account">Account</a></li>
								<li><a class="toc__link js-smooth-scroll" href="#payments">Payments</a></li>
								<li><a class="toc__link js-smooth-scroll" href="#privacy">Privacy</a></li>
								</ul>
							</nav>
							</div>
						</div>
					
						<div class="toc-content js-toc-content col-9@md">
							<div class="grid gap-lg">
							<div>
								<h2 id="basics" class="toc-header text-xl margin-bottom-xs">Basics</h2>
					
								<ul class="accordion-v2 flex flex-column gap-3xs js-accordion" data-animation="on" data-multi-items="on" data-version="v2">
					
								<li class="accordion-v2__item  js-accordion__item">
									<button class=" accordion-v2__header padding-y-md padding-x-md " type="button">
									<span class="text-lg">Wats a horsetranq?</span>
					
									<svg class="icon accordion-v2__icon-arrow no-js:hide" viewBox="0 0 20 20">
										<g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
										<line x1="3" y1="3" x2="17" y2="17" />
										<line x1="17" y1="3" x2="3" y2="17" />
										</g>
									</svg>
									</button>
					
									<div class="accordion-v2__panel padding-top-3xs padding-x-md padding-bottom-md js-accordion__panel">
									<div class="text-component line-height-lg">
										<p>A horstranq is wen u tranq a horse wit a tranqlizer dart for its own good of the hors. This can be use to help hors in medical or jus when u want to help hors. No hors were harmed in making of this cite.</p>
										<p>Onse a hors alway a hors. Liv boled, be fre.</p>
									</div>
									</div>
								</li>
					
								<li class="accordion-v2__item  js-accordion__item">
									<button class=" accordion-v2__header padding-y-md padding-x-md " type="button">
									<span class="text-lg">Wat is Horsetranq media grop?</span>
					
									<svg class="icon accordion-v2__icon-arrow no-js:hide" viewBox="0 0 20 20">
										<g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
										<line x1="3" y1="3" x2="17" y2="17" />
										<line x1="17" y1="3" x2="3" y2="17" />
										</g>
									</svg>
									</button>
					
									<div class="accordion-v2__panel padding-top-3xs padding-x-md padding-bottom-md js-accordion__panel">
									<div class="text-component line-height-lg">
										<p>Horstarnq Media Grop ©2023 is teh parent company for Horsetranq.com. Horsetranq was found in 2001 durin the doctom bubble. Y2k and Gran Turismo 2 devlopers teamed up to make this websit. We r teh industy leadr in digtal contant and vido game experiences.</p>
										<p>We also hav a vary loose* parnership wit Foundation for the Hors. Its loose cus they may not kno it exits. We like to parner wit hors fundations to benefit all the hors in teh wild. Majecstic beast wit four legs n a tail n a head. Our fundang and incom goes to hors phlanthropy acros the globe (wen wer'e able to). It makes us difrent than or competitin. We are 'nt afraid of wat othrs think of horstranq.</p>
									</div>
									</div>
								</li>
					
								<li class="accordion-v2__item  js-accordion__item">
									<button class=" accordion-v2__header padding-y-md padding-x-md " type="button">
									<span class="text-lg">Wat do I do on ur cite?</span>
					
									<svg class="icon accordion-v2__icon-arrow no-js:hide" viewBox="0 0 20 20">
										<g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
										<line x1="3" y1="3" x2="17" y2="17" />
										<line x1="17" y1="3" x2="3" y2="17" />
										</g>
									</svg>
									</button>
					
									<div class="accordion-v2__panel padding-top-3xs padding-x-md padding-bottom-md js-accordion__panel">
									<div class="text-component line-height-lg">
										<p>As teh industry leadr in digital contant experineces and vido games u can play many varity of games and score pts that u can turn in for no prizes. More games are comin in the future as we incrase our devlopment pace.</p>
									</div>
									</div>
								</li>
					
								<li class="accordion-v2__item  js-accordion__item">
									<button class=" accordion-v2__header padding-y-md padding-x-md " type="button">
									<span class="text-lg">How do I contect teh Horstranq team?</span>
					
									<svg class="icon accordion-v2__icon-arrow no-js:hide" viewBox="0 0 20 20">
										<g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
										<line x1="3" y1="3" x2="17" y2="17" />
										<line x1="17" y1="3" x2="3" y2="17" />
										</g>
									</svg>
									</button>
					
									<div class="accordion-v2__panel padding-top-3xs padding-x-md padding-bottom-md js-accordion__panel">
									<div class="text-component line-height-lg">
										<p> Find us at on of teh websites and cntact optins below.</p>
										<div class="title-wrapper flex settings">
											<div class="title-wrapper flex settings bg-none" style="margin-bottom: 0;">
												<div class="socials flex">
													<a href="https://discord.gg/4RVnSsRCRp" target="_blank" class="social-icon">
														<img src="./../static/img/assets/discord.svg" alt="Discord">
													</a>
													<a href="https://www.patreon.com/horsetranq" target="_blank" class="social-icon">
														<img src="./../static/img/assets/patreon.svg" alt="Patreon">
													</a>
													<a href="[DISCORD-URL]" target="_blank" class="social-icon">
														<img src="./../static/img/assets/atlassian.svg" alt="Atlassian">
													</a>	
													<h4><a class="color-primary" href="https://support.horsetranq.com">support.horsetranq.com</a></h4>		
												</div>
											</div>
										</div>
										
									</div>
									</div>
								</li>
					
								</ul>
							</div>
					
							<div>
								<h2 id="account" class="toc-header text-xl margin-bottom-xs">Account</h2>
					
								<ul class="accordion-v2 flex flex-column gap-3xs js-accordion" data-animation="on" data-multi-items="on" data-version="v2">
					
								<li class="accordion-v2__item  js-accordion__item">
									<button class=" accordion-v2__header padding-y-md padding-x-md " type="button">
									<span class="text-lg">How do I change my password?</span>
					
									<svg class="icon accordion-v2__icon-arrow no-js:hide" viewBox="0 0 20 20">
										<g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
										<line x1="3" y1="3" x2="17" y2="17" />
										<line x1="17" y1="3" x2="3" y2="17" />
										</g>
									</svg>
									</button>
					
									<div class="accordion-v2__panel padding-top-3xs padding-x-md padding-bottom-md js-accordion__panel">
									<div class="text-component line-height-lg">
										<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum a ab quae quas optio ut officia quia? Modi at impedit dolorem est voluptatem facilis, beatae atque tenetur, soluta dolorum inventore sapiente laborum. Alias esse soluta porro distinctio aperiam, qui suscipit.</p>
									</div>
									</div>
								</li>
					
								<li class="accordion-v2__item  js-accordion__item">
									<button class=" accordion-v2__header padding-y-md padding-x-md " type="button">
									<span class="text-lg">How do I delete my account?</span>
					
									<svg class="icon accordion-v2__icon-arrow no-js:hide" viewBox="0 0 20 20">
										<g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
										<line x1="3" y1="3" x2="17" y2="17" />
										<line x1="17" y1="3" x2="3" y2="17" />
										</g>
									</svg>
									</button>
					
									<div class="accordion-v2__panel padding-top-3xs padding-x-md padding-bottom-md js-accordion__panel">
									<div class="text-component line-height-lg">
										<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum a ab quae quas optio ut officia quia? Modi at impedit dolorem est voluptatem facilis, beatae atque tenetur, soluta dolorum inventore sapiente laborum. Alias esse soluta porro distinctio aperiam, qui suscipit.</p>
										<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum a ab quae quas optio ut officia quia? Modi at impedit dolorem est voluptatem facilis, beatae atque tenetur, soluta dolorum inventore sapiente laborum. Alias esse soluta porro distinctio aperiam, qui suscipit.</p>
									</div>
									</div>
								</li>
					
								<li class="accordion-v2__item  js-accordion__item">
									<button class=" accordion-v2__header padding-y-md padding-x-md " type="button">
									<span class="text-lg">I forgot my password. How do I reset it?</span>
					
									<svg class="icon accordion-v2__icon-arrow no-js:hide" viewBox="0 0 20 20">
										<g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
										<line x1="3" y1="3" x2="17" y2="17" />
										<line x1="17" y1="3" x2="3" y2="17" />
										</g>
									</svg>
									</button>
					
									<div class="accordion-v2__panel padding-top-3xs padding-x-md padding-bottom-md js-accordion__panel">
									<div class="text-component line-height-lg">
										<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum a ab quae quas optio ut officia quia? Modi at impedit dolorem est voluptatem facilis, beatae atque tenetur, soluta dolorum inventore sapiente laborum. Alias esse soluta porro distinctio aperiam, qui suscipit.</p>
									</div>
									</div>
								</li>
					
								<li class="accordion-v2__item  js-accordion__item">
									<button class=" accordion-v2__header padding-y-md padding-x-md " type="button">
									<span class="text-lg">How do I change my account settings?</span>
					
									<svg class="icon accordion-v2__icon-arrow no-js:hide" viewBox="0 0 20 20">
										<g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
										<line x1="3" y1="3" x2="17" y2="17" />
										<line x1="17" y1="3" x2="3" y2="17" />
										</g>
									</svg>
									</button>
					
									<div class="accordion-v2__panel padding-top-3xs padding-x-md padding-bottom-md js-accordion__panel">
									<div class="text-component line-height-lg">
										<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum a ab quae quas optio ut officia quia? Modi at impedit dolorem est voluptatem facilis, beatae atque tenetur, soluta dolorum inventore sapiente laborum. Alias esse soluta porro distinctio aperiam, qui suscipit.</p>
										<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum a ab quae quas optio ut officia quia? Modi at impedit dolorem est voluptatem facilis, beatae atque tenetur, soluta dolorum inventore sapiente laborum. Alias esse soluta porro distinctio aperiam, qui suscipit.</p>
									</div>
									</div>
								</li>
					
								</ul>
							</div>
					
							<div>
								<h2 id="payments" class="toc-header text-xl margin-bottom-xs">Payments</h2>
					
								<ul class="accordion-v2 flex flex-column gap-3xs js-accordion" data-animation="on" data-multi-items="on" data-version="v2">
					
								<li class="accordion-v2__item  js-accordion__item">
									<button class=" accordion-v2__header padding-y-md padding-x-md " type="button">
									<span class="text-lg">Where can I download an invoice?</span>
					
									<svg class="icon accordion-v2__icon-arrow no-js:hide" viewBox="0 0 20 20">
										<g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
										<line x1="3" y1="3" x2="17" y2="17" />
										<line x1="17" y1="3" x2="3" y2="17" />
										</g>
									</svg>
									</button>
					
									<div class="accordion-v2__panel padding-top-3xs padding-x-md padding-bottom-md js-accordion__panel">
									<div class="text-component line-height-lg">
										<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum a ab quae quas optio ut officia quia? Modi at impedit dolorem est voluptatem facilis, beatae atque tenetur, soluta dolorum inventore sapiente laborum. Alias esse soluta porro distinctio aperiam, qui suscipit.</p>
									</div>
									</div>
								</li>
					
								<li class="accordion-v2__item  js-accordion__item">
									<button class=" accordion-v2__header padding-y-md padding-x-md " type="button">
									<span class="text-lg">Why did my payment fail?</span>
					
									<svg class="icon accordion-v2__icon-arrow no-js:hide" viewBox="0 0 20 20">
										<g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
										<line x1="3" y1="3" x2="17" y2="17" />
										<line x1="17" y1="3" x2="3" y2="17" />
										</g>
									</svg>
									</button>
					
									<div class="accordion-v2__panel padding-top-3xs padding-x-md padding-bottom-md js-accordion__panel">
									<div class="text-component line-height-lg">
										<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum a ab quae quas optio ut officia quia? Modi at impedit dolorem est voluptatem facilis, beatae atque tenetur, soluta dolorum inventore sapiente laborum. Alias esse soluta porro distinctio aperiam, qui suscipit.</p>
										<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum a ab quae quas optio ut officia quia? Modi at impedit dolorem est voluptatem facilis, beatae atque tenetur, soluta dolorum inventore sapiente laborum. Alias esse soluta porro distinctio aperiam, qui suscipit.</p>
									</div>
									</div>
								</li>
					
								<li class="accordion-v2__item  js-accordion__item">
									<button class=" accordion-v2__header padding-y-md padding-x-md " type="button">
									<span class="text-lg">Do you ofer studant discounts?</span>
					
									<svg class="icon accordion-v2__icon-arrow no-js:hide" viewBox="0 0 20 20">
										<g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
										<line x1="3" y1="3" x2="17" y2="17" />
										<line x1="17" y1="3" x2="3" y2="17" />
										</g>
									</svg>
									</button>
					
									<div class="accordion-v2__panel padding-top-3xs padding-x-md padding-bottom-md js-accordion__panel">
									<div class="text-component line-height-lg">
										<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum a ab quae quas optio ut officia quia? Modi at impedit dolorem est voluptatem facilis, beatae atque tenetur, soluta dolorum inventore sapiente laborum. Alias esse soluta porro distinctio aperiam, qui suscipit.</p>
									</div>
									</div>
								</li>
					
								</ul>
							</div>
					
							<div>
								<h2 id="privacy" class="toc-header text-xl margin-bottom-xs">Privacy</h2>
					
								<ul class="accordion-v2 flex flex-column gap-3xs js-accordion" data-animation="on" data-multi-items="on" data-version="v2">
					
								<li class="accordion-v2__item  js-accordion__item">
									<button class=" accordion-v2__header padding-y-md padding-x-md " type="button">
									<span class="text-lg">Can I specify my own private key?</span>
					
									<svg class="icon accordion-v2__icon-arrow no-js:hide" viewBox="0 0 20 20">
										<g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
										<line x1="3" y1="3" x2="17" y2="17" />
										<line x1="17" y1="3" x2="3" y2="17" />
										</g>
									</svg>
									</button>
					
									<div class="accordion-v2__panel padding-top-3xs padding-x-md padding-bottom-md js-accordion__panel">
									<div class="text-component line-height-lg">
										<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum a ab quae quas optio ut officia quia? Modi at impedit dolorem est voluptatem facilis, beatae atque tenetur, soluta dolorum inventore sapiente laborum. Alias esse soluta porro distinctio aperiam, qui suscipit.</p>
									</div>
									</div>
								</li>
					
								<li class="accordion-v2__item  js-accordion__item">
									<button class=" accordion-v2__header padding-y-md padding-x-md " type="button">
									<span class="text-lg">My files are missing. How do I get them back?</span>
					
									<svg class="icon accordion-v2__icon-arrow no-js:hide" viewBox="0 0 20 20">
										<g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
										<line x1="3" y1="3" x2="17" y2="17" />
										<line x1="17" y1="3" x2="3" y2="17" />
										</g>
									</svg>
									</button>
					
									<div class="accordion-v2__panel padding-top-3xs padding-x-md padding-bottom-md js-accordion__panel">
									<div class="text-component line-height-lg">
										<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum a ab quae quas optio ut officia quia? Modi at impedit dolorem est voluptatem facilis, beatae atque tenetur, soluta dolorum inventore sapiente laborum. Alias esse soluta porro distinctio aperiam, qui suscipit.</p>
										<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum a ab quae quas optio ut officia quia? Modi at impedit dolorem est voluptatem facilis, beatae atque tenetur, soluta dolorum inventore sapiente laborum. Alias esse soluta porro distinctio aperiam, qui suscipit.</p>
									</div>
									</div>
								</li>
					
								<li class="accordion-v2__item  js-accordion__item">
									<button class=" accordion-v2__header padding-y-md padding-x-md " type="button">
									<span class="text-lg">How can I delete my account data?</span>
					
									<svg class="icon accordion-v2__icon-arrow no-js:hide" viewBox="0 0 20 20">
										<g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
										<line x1="3" y1="3" x2="17" y2="17" />
										<line x1="17" y1="3" x2="3" y2="17" />
										</g>
									</svg>
									</button>
					
									<div class="accordion-v2__panel padding-top-3xs padding-x-md padding-bottom-md js-accordion__panel">
									<div class="text-component line-height-lg">
										<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum a ab quae quas optio ut officia quia? Modi at impedit dolorem est voluptatem facilis, beatae atque tenetur, soluta dolorum inventore sapiente laborum. Alias esse soluta porro distinctio aperiam, qui suscipit.</p>
									</div>
									</div>
								</li>
					
								<li class="accordion-v2__item  js-accordion__item">
									<button class=" accordion-v2__header padding-y-md padding-x-md " type="button">
									<span class="text-lg">Do you store any private information?</span>
					
									<svg class="icon accordion-v2__icon-arrow no-js:hide" viewBox="0 0 20 20">
										<g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
										<line x1="3" y1="3" x2="17" y2="17" />
										<line x1="17" y1="3" x2="3" y2="17" />
										</g>
									</svg>
									</button>
					
									<div class="accordion-v2__panel padding-top-3xs padding-x-md padding-bottom-md js-accordion__panel">
									<div class="text-component line-height-lg">
										<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum a ab quae quas optio ut officia quia? Modi at impedit dolorem est voluptatem facilis, beatae atque tenetur, soluta dolorum inventore sapiente laborum. Alias esse soluta porro distinctio aperiam, qui suscipit.</p>
									</div>
									</div>
								</li>
					
								</ul>
							</div>
							</div>
						</div>
						</div>
					</div>
				</section>

				<div class="store-flex-container subscribe section">
					<div id="digtal-flex" class="flex-container">
						<div class="cd-project-content is-visible">
							<div>
								<h2 class="big-bold">Horsetranq Media Group</h2>
								<em>Onse a hors alway a hors. Liv boled, be fre.</em>
								<div class="title-wrapper flex settings">
										<div class="title-wrapper flex settings bg-none" style="margin-bottom: 0;">
											<h4 class="bold color-primary-darker">Socials</h4>
											<div class="socials flex">
											<a href="https://discord.gg/4RVnSsRCRp" target="_blank" class="social-icon">
												<img src="./../static/img/assets/discord.svg" alt="Discord">
											</a>
											<a href="https://www.patreon.com/horsetranq" target="_blank" class="social-icon">
												<img src="./../static/img/assets/patreon.svg" alt="Patreon">
											</a>
											<a href="[DISCORD-URL]" target="_blank" class="social-icon">
												<img src="./../static/img/assets/atlassian.svg" alt="Atlassian">
											</a>	
											<h4><a class="color-primary" href="https://support.horsetranq.com">support.horsetranq.com</a></h4>		
										</div>
									</div>
								</div>
								<p>
									Horsetranq.com was found in 2001 durin the doctom bubble. Y2k and Gran Turismo 2 devlopers teamed up to make this websit. No body thot the site would survive wen the buble burst but we r a livin testamonial to hard perservrance n work.
								</p>
								<p>
									We also hav a vary loose* parnership wit Foundation for the Hors. Its loose cus they may not kno it exits. We like to parner wit hors fundations to benefit all the hors in teh wild. Majecstic beast wit four legs n a tail n a head. Our fundang and incom goes to hors phlanthropy acros the globe (wen wer'e able to). It makes us difrent than or competitin. We are 'nt afraid of wat othrs think of horstranq.
								</p>
								<p>
									<span class="bold color-primary">Horstarnq Media Grop ©2023</span> is teh parent company for Horsetranq.com. All rites resvred and all affilations afiliated. Privcy is a focus of ours nd so is ur money. Our prodacts r strong in the marketplac and we are <span class="bold";>bes of breed</span>.
								</p>
								<p>
									Thanks for tuning in en being a faitful subsriber.
								</p>
							</div>
						</div> <!-- .cd-project-content -->
					</div>
				</div>
			</div>
		</main>

		{% if logged_in %}
			<!-- ACCOUNT MODAL -->
			<div id="accountModal" class="cd-filter shadow">
				<div class="sticky-container">
					<div class="modal-title-container sticky">
						<div class="modal-title-wrapper">
							<div class="title-wrapper">
								<h4 class="modal-title big-bold color-primary-darker center">Account Profile</h4>
								<a href="#0" class="cd-close-filter flex-right"></a>
							</div>
						</div>
					</div>
				</div>
				<form>
					<div class="cd-filter-block">
						<div class="cd-filter-content">
							<div class="title-wrapper flex settings">
								<h4 class="bold color-contrast-medium">Plan</h4>
								{% if subscription_type == 'free' %}
									<div class="label free big-bold">FREE MEMBER</div>
								{% elif subscription_type == 'one' %}
									<div class="label one big-bold">ONE</div>
								{% elif subscription_type == 'plus' %}
									<div class="label plus big-bold">PLUS</div>
								{% elif subscription_type == 'max' %}
									<div class="label max big-bold">MAX</div>
								{% else %}
								{% endif %}
							</div>
							<div class="title-wrapper flex settings">
								<h4 class="bold color-contrast-medium">Name</h4>
								<p class="bold color-contrast-higher">
									{% if name %}
										{{ name }}
									{% else %}
										Guest
									{% endif %}
								</p>
							</div>
							<div class="title-wrapper flex settings">
								<h4 class="bold color-contrast-medium">Email</h4>
								<p class="bold color-contrast-higher">
									{% if logged_in %}
										{{ email }}
									{% else %}
										Unknown
									{% endif %}
								</p>
							</div>
							<div class="title-wrapper flex settings">
								<h4 class="bold color-contrast-medium">Avatar</h4>
								{% if logged_in %}
									<div class="profile-image">
										<img src="{{ picture }}" alt="Profile Picture" width="100" height="100">
									</div>
								{% else %}
									<div class="profile-image">
										<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/480px-Default_pfp.svg.png" alt="Profile Picture" width="100" height="100">
									</div>
								{% endif %}
							</div>
						</div>
					</div>
					<div class="cd-filter-block">
						<div id="accountTools" class="title-wrapper flex settings bg-none">
							<button type="button" id="accountSaveBtn" class="pickle shadow hide">Save</button>
							<button type="button" id="accountSignOutBtn" class="pickle shadow">Sign Out</button>
							<button type="button" id="accountDeleteBtn" class="pickle shadow hide">Delet Accnt</button>
						</div>
					</div>
				</form>
			</div>
		{% else %}
		{% endif %}	
	<script>
		window.auth0UserId = '{{ user_id }}';
	</script>
	<script>
		window.auth0UserId = '{{ user_id }}';
		window.firebaseToken = '{{ firebase_token }}';
	</script>
	<script src="/static/js/resources/jquery-2.1.1.js"></script>
	<script src="/static/js/resources/jquery.mixitup.min.js"></script>
	<script type="module" src="/static/js/main.js"></script> <!-- Resource jQuery -->
	<script type="module" src="/static/js/firebase.js"></script>
	<script src="/static/js/secondary/about.js"></script> <!-- About javascript -->
	<script src="/static/js/resources/jquery.min.js"></script> <!-- Added for the draggable UI -->
	<script src="/static/js/resources/jquery-ui.js"></script> <!-- Added for the draggable UI -->
	<script src="/static/js/resources/jquery.ui.touch-punch.min.js"></script> 
	</body>
</html>