<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
	<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;900&amp;display=swap" rel="stylesheet">
	<link rel="icon" type="image/x-icon" href="/static/img/assets/ico/hors.ico">
	<link rel="stylesheet" href="../static/css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="../static/css/style.css"> <!-- Main style -->
	<link rel="stylesheet" href="../static/css/style-slides.css"> <!-- Slide specific style -->
	<link rel="stylesheet" href="../static/css/variables.css"> <!-- Variables style -->
	<script src="../static/js/modernizr.js"></script> <!-- Modernizr -->
	<script src="https://cdn.auth0.com/js/auth0/9.18/auth0.min.js"></script>
	<title>HOrstRnq</title>
</head>
<body>
	<main class="cd-main-content horseplay-background is-fixed">
		<div class="cd-tab-filter-wrapper">
			<div class="cd-tab-filter">
				<ul id="menu-list" class="cd-filters js-signin-modal-trigger cd-main-nav__list shadow">
					<li class="placeholder"> 
						<a href="#0">STOR</a> <!-- selected option on mobile -->
					</li> 
					<li><a id="horsplayBtn" href="/">HORSPLAY</a></li>
					<li><a id="storeBtn" href="/store" class="selected">STOR</a></li> 
					<li><a href="#0" id="aboutBtn" class="cd-filter-trigger modal-trigger" data-target="aboutModal">ABOUT</a></li>
					{% if logged_in %}
					<li><a href="#0" id="myAccountBtn" class="cd-filter-trigger modal-trigger" data-target="accountModal">{{ session.profile.name.split(' ')[0] }}</a></li>
					{% else %}
						<li><a href="/login" id="accountBtn" class="cd-filter-trigger" data-target="accountModal">SIGN IN</a></li>
					{% endif %}	
					<li><div class="label beta">BETA</div></li>
				</ul>
			</div>
		</div>
	</main>
	<div class="cd-projects-wrapper projects-visible">
		<ul class="cd-slider" style="width: 2931.75px; transform: translateX(0px);">
			
            <li id="games-title-slide" class="ui-container shadow title-slide slides-in current">
				<div class="project-info">
				  <h2 class="big-bold">GAMES</h2>
				  <p>Intractiv hors vido gams</p>
				</div>
			</li>
	  
			<li class="ui-container shadow slides-in current previous">
			  <a href="/horsplay">
				<img src="../static/img/branding/game-horsetranq.png" alt="project image">
				<div class="project-info">
					<div class="flex">
						<h2>Hors Play</h2>
						<div class="label free">FREE</div>
					</div>
					<p>Ur typicl fast paste hors tranq'in gam</p>
				</div>
			  </a>
			</li>
	  
			<li class="ui-container shadow slide-coming-soon slides-in">
				<img src="../static/img/branding/game-trottank-alt.png" alt="project image">
				<div class="project-info">
					<div class="flex">
						<h2>Trot Tank</h2>
						<div class="label one">ONE</div>
					</div>
					<p>Turnt bas tank game wit math skils</p>
				</div>
			</li>
	  
			<li class="ui-container shadow slide-coming-soon slides-in">
				<img src="../static/img/branding/game-gallopgun.png" alt="project image">
				<div class="project-info">
					<div class="flex">
						<h2>Gallop Gun</h2>
						<div class="label plus">PLUS</div>
					</div>
				  <p>Three-d interactiv FHS gaem</p>
				</div>
			</li>

			<li id="news-title-slide" class="ui-container shadow title-slide slides-in current">
				<div class="project-info">
				<h2 class="big-bold">NEWS</h2>
				<p>Latast gratest hors news for ur life</p>
				</div>
			</li>
		
			<li class="ui-container shadow slides-in">
				<a href="#0">
				  <img src="../static/img/branding/season-1-alt.png" alt="project image">
				  <div class="project-info">
					<h2>Season One</h2>
					<p>Release soon get rady for tranq</p>
				  </div>
				</a>
			</li>
		
			<li class="ui-container shadow slide-coming-soon slides-in">
				<img src="../static/img/branding/season-2.png" alt="project image">
				<div class="project-info">
				<h2>Seson two</h2>
				<p>New skinz an batlepass contant</p>
				</div>
			</li>
		
			<li class="ui-container shadow slides-in">
				<img src="../static/img/assets/tranq.png" alt="project image">
				<div class="project-info">
				<h2>Horsplay live Jun 1!</h2>
				<p style="overflow: visible; white-space: wrap;">Teh crazy gaem were u tranq hors, ppl, dogs or watver. The trank is up for you to decide.</p>
				</div>
			</li>
		</ul>

		<ul class="cd-slider-navigation cd-img-replace">
			<li><a href="#0" class="prev inactive">Prev</a></li>
			<li><a href="#0" class="next">Next</a></li>
		</ul> <!-- .cd-slider-navigation -->

	</div>
	  

	<div class="cd-project-content">
		<div>
			<h2 class="big-bold">Horsetranq Media Group</h2>
			<em>Onse a hors alway a hors. Liv boled, be fre.</em>
			<div class="title-wrapper flex settings">
				<h4 class="bold color-contrast-medium">About</h4>
				<p class="bold color-contrast-higher" style="line-height: 1.7;">
					Horsetranq.com was found in 2001 durin the DOCTOM bubble. Y2k and Gran Turismo 2 devlopers teamed up to make this websit. Thanks for tuning in en being a subsriber.</p>
			</div>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus. 
			</p>
			<p>
				Illum quaerat asperiores aliquam voluptate saepe omnis porro excepturi in atque veritatis sapiente ipsam voluptates iste amet deserunt ullam error pariatur, magni consectetur optio nostrum minima dolorum. Soluta animi nihil doloremque ipsa incidunt vitae architecto beatae, maxime libero, dolore corporis vero porro tenetur ipsam modi repudiandae magnam enim, quibusdam sit.
			</p>
			<p>
				Illum quaerat asperiores aliquam voluptate saepe omnis porro excepturi in atque veritatis sapiente ipsam voluptates iste amet deserunt ullam error pariatur, magni consectetur optio nostrum minima dolorum. Soluta animi nihil doloremque ipsa incidunt vitae architecto beatae, maxime libero, dolore corporis vero porro tenetur ipsam modi repudiandae magnam enim, quibusdam sit.
			</p>
		</div>
			
		<a href="#0" class="close cd-img-replace">Close</a>
	</div> <!-- .cd-project-content -->

	<div id="#bg-overlay"></div>

<script src="../static/js/jquery-2.1.1.js"></script>
<script src="../static/js/slides/jquery.mobile.custom.min.js"></script>
<script src="../static/js/slides/main-slides.js"></script> <!-- Resource jQuery -->
</body>
</html>