<!doctype html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;900&display=swap" rel="stylesheet">
		<link rel="icon" type="image/x-icon" href="/static/img/assets/ico/hors.ico">
		<link rel="stylesheet" href="/static/css/reset.css"> <!-- CSS reset -->
		<link rel="stylesheet" href="/static/css/style.css"> <!-- Resource style -->
		<link rel="stylesheet" href="/static/css/variables.css"> <!-- Variables style -->
		<link rel="stylesheet" href="/static/css/style-v3.css"> <!-- New v3 style -->
		<link rel="stylesheet" href="/static/css/horse-movement.css"> <!-- Horse movement animations -->
		<script src="/static/js/resources/modernizr.js"></script> <!-- Modernizr -->
		<script src="https://cdn.auth0.com/js/auth0/9.18/auth0.min.js"></script>
		<script src="https://cdn.auth0.com/js/auth0-spa-js/2.0/auth0-spa-js.production.js"></script>
		<title>HOrstRnq</title>
	</head>
	<body>

		<main class="cd-main-content horseplay-background is-fixed">
			{% include 'partials/navigation_menu.html' %}
			<div class="tools-wrapper">
				<div id="reset-container" class="ui-container shadow">
					<div id="resetBtn">Reset</div>
				</div>
				<div id="settings-container" class="ui-container shadow modal-trigger" data-target="settingsModal">
					<div id="settingsBtn">Setings</div>
				</div>
				<div id="score-container" class="ui-container shadow">
					<div id="scoreBtn"></div>
				</div>
			</div>

			<div id="game-container" class="container">
				<div id="hors-container"></div>
				<div id="goose-container"></div>
				<div id="tranq-container">
					<div class="tranq">
						<img id="draggable13" src="static/img/games/horsplay/assets/tranq.png">
					</div>
				</div>
			</div>

			<!-- Game Select MODAL -->
			<div id="gameSelectOverlay" class="overlay">
				<div id="gameSelectModal" class="cd-filter shadow">
					<div class="sticky-container">
						<div class="modal-title-container sticky">
							<div class="modal-title-wrapper">
								<div class="title-wrapper">
									<h4 class="modal-title big-bold color-primary-darker center">Select Game Mode</h4>
								</div>
								<a href="#0" class="cd-close-filter flex-right"></a>
							</div>
						</div>
					</div>
					<form>
						<div class="cd-filter-block">
							<div class="cd-filter-content" style="line-height: 1.2;">
								<div id="freePlayBtn" class="title-wrapper flex settings shadow cd-custom-close-modal">
									<h2 class="big big-bold color-primary">Free Play</h2>
									<p class="bold color-contrast-higher" style="line-height: 1.7;">
										Were scor don't matter an you can customiz ur setings to maskimize enjoiment.
									</p>
								</div>
								{% if logged_in %}
								<div id="rankedPlayBtn" class="title-wrapper flex settings shadow cd-custom-close-modal">
									<h2 class="big big-bold color-error-darker">Ranked</h2>
									<p class="bold color-contrast-higher" style="line-height: 1.7;">
										All ur enjoymant is suked out of teh game an ur gole is scor mor pts than others.
									</p>
								</div>	
								{% else %}
									<div class="login-notice">
										<h2 class="big big-bold color-error-darker">Log in for ranked moad</h2>
									</div>
								{% endif %}
							</div>
						</div>

						<div class="cd-filter-block hide">
							<div class="title-wrapper flex">
								<h3 class="bold color-primary">Donat to hors fundation</h3>
							</div>
								<span>
									(<a href="https://www.foundationforthehorse.org/give-now/" style="font-weight:bold;">view cite</a>)
								</span>
							<p></p>
							<div class="rulez">
								<h3>Enter card info</h3>
								<div id="valuable-trash">
									<div id="creditCardLine">
										<div class="input-wrapper">
											<div class="input-icon">
												<input type="text" id="creditCard" name="creditCard" class="contact-label" placeholder="CrEDIT CARD + ZIPs + CvS #">
											</div>
										</div>
									</div>
									<div id="contactForm">
										<div class="input-wrapper">
											<div class="input-icon">
												<input type="text" id="fname" name="fname" class="contact-label" placeholder="1st NamE">
											</div>
										</div>
										<div class="input-wrapper">
											<div class="input-icon">
												<input type="text" id="lname" name="lname" class="contact-label" placeholder="2nd NAMe">
											</div>
										</div>
										<div class="input-wrapper">
											<div class="input-icon">
												<input type="text" id="email" name="email" class="contact-label" placeholder="EmAIL (dont care)">
											</div>
										</div>
									</div>
									<button type="button" id="submit" class="pickle shadow">Save</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>

		<!-- Settings Overlay -->
		<div id="settingsOverlay" class="overlay" style="display: none; background-color: rgba(0,0,0,0.5); z-index: 1000;"></div>

		<!-- Success MODAL -->
		<div id="successOverlay" class="overlay" style="display: none;">
			<div id="successModal" class="cd-filter shadow">
				<div class="sticky-container">
					<div class="modal-title-container sticky">
						<div class="modal-title-wrapper">
							<div class="title-wrapper">
								<h4 class="modal-title big-bold color-primary-darker center">Gradulation!</h4>
							</div>
							<a href="#0" class="cd-close-filter flex-right" onclick="closeSuccessModal()"></a>
						</div>
					</div>
				</div>
				<form>
					<div class="cd-filter-block">
						<div class="cd-filter-content" style="line-height: 1.2; text-align: center;">
							<div class="title-wrapper flex settings shadow" style="justify-content: center;">
								<div>
									<h2 class="big big-bold color-primary" id="successMessage">U pop all teh itams!</h2>
									<p class="bold color-contrast-higher" style="line-height: 1.7;" id="successTime">
										Time: Loading...
									</p>
								</div>
							</div>
							<div class="flex settings" style="justify-content: center; margin-top: 1em;">
								<button type="button" class="pickle shadow" onclick="closeSuccessModal()">Play Again</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		
		{% include 'partials/account_modal.html' %}	

		
		<!-- SETTINGS MODAL -->
		<div id="settingsModal" class="cd-filter shadow">
			<div class="sticky-container">
				<div class="modal-title-container sticky">
					<div class="modal-title-wrapper">
						<div class="title-wrapper">
							<h4 class="modal-title big-bold color-primary-darker center">Game Settings</h4>
							<a href="#0" class="cd-close-filter flex-right"></a>
						</div>
					</div>
				</div>
			</div>
			<form>
				<div class="title-wrapper flex" style="padding-top:0;">
					<h4 class="big-big-bold color-primary">RANKED OPTIONS</h4>
				</div>
				
				<div id="rankedPlaySettings" class="cd-filter-block">
					<div class="custom-select">
						<div id="difficulty-selector" class="optn-select no-highlight" data-value="easyDifficulty">Difficulty</div>
						<div class="options">
							<div class="option" data-value="easyDifficulty">Easy</div>
							<div class="option" data-value="mediumDifficulty">Medium</div>
							<div class="option" data-value="hardDifficulty">Hard</div>
							<div class="option-flex">
								<div class="option disabled" data-value="Unpossible">Unpossible</div>
								<div class="label beta">NOPE</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="title-wrapper flex">
					<h4 class="big-bold color-primary float-left">FREE PLAY OPTIONS</h4>
				</div>

				<div id="freePlaySettings">
					<!-- Background theme selector -->
					<div class="cd-filter-block">
						<div class="custom-select">
							<div id="bg-selector" class="optn-select no-highlight" data-value="default.jpg">Theme</div>
							<div class="options">
								<div class="option" data-value="farm-bg-day.jpg">Day</div>
								<div class="option" data-value="farm-bg-day-alt.jpg">Day Alt</div>
								<div class="option" data-value="farm-bg-night.jpg">Night</div>
								{% if logged_in %}
									<div class="option" data-value="farm-bg-dusk.jpg">Dusk</div>
									<div class="option" data-value="farm-bg-overcast.jpg">Overcast</div>
									<div class="option" data-value="farm-bg-peaceful.jpg">Peaceful</div>
									{% if subscription_type == 'max' %}
										<div class="option-flex">
											<div class="option" data-value="mood-bg-1.png">Moody Day</div>
											<div class="label one">HIGH REZ</div>
										</div>
										<div class="option-flex">
											<div class="option" data-value="mood-bg-2.png">Moody Clouds</div>
											<div class="label one">HIGH REZ</div>
										</div>
										<div class="option-flex">
											<div class="option" data-value="mood-bg-3.png">Moody Moon</div>
											<div class="label one">HIGH REZ</div>
										</div>
										<div class="option-flex">
											<div class="option" data-value="mood-bg-4.png">Moody Dusk</div>
											<div class="label one">HIGH REZ</div>
										</div>
										<div class="option-flex">
											<div class="option" data-value="mood-bg-5.png">Moody Scifi</div>
											<div class="label one">HIGH REZ</div>
										</div>
										<div class="option-flex">
											<div class="option" data-value="mood-bg-6.png">Moody Scifi Alt</div>
											<div class="label one">HIGH REZ</div>
										</div>
									{% endif %}
								{% else %}
									<div class="option-flex">
										<div class="option" data-value="farm-bg-dusk.jpg">Dusk</div>
										<div class="label free"><a href="https://horsetranq.com/login">FREE WEKEND</a></div>
									</div>
									<div class="option-flex">
										<div class="option" data-value="farm-bg-overcast.jpg">Overcast</div>
										<div class="label free"><a href="https://horsetranq.com/login">FREE WEKEND</a></div>
									</div>
									<div class="option-flex">
										<div class="option" data-value="farm-bg-peaceful.jpg">Peaceful</div>
										<div class="label free"><a href="https://horsetranq.com/login">FREE WEKEND</a></div>
									</div>

									<div class="option-flex">
										<div class="option" data-value="mood-bg-1.png">Moody Day</div>
										<div class="label free"><a href="https://horsetranq.com/login">FREE WEKEND</a></div>
									</div>
									<div class="option-flex">
										<div class="option" data-value="mood-bg-2.png">Moody Clouds</div>
										<div class="label free"><a href="https://horsetranq.com/login">FREE WEKEND</a></div>
									</div>
									<div class="option-flex">
										<div class="option" data-value="mood-bg-3.png">Moody Moon</div>
										<div class="label free"><a href="https://horsetranq.com/login">FREE WEKEND</a></div>
									</div>
									<div class="option-flex">
										<div class="option" data-value="mood-bg-4.png">Moody Dusk</div>
										<div class="label free"><a href="https://horsetranq.com/login">FREE WEKEND</a></div>
									</div>
									<div class="option-flex">
										<div class="option" data-value="mood-bg-5.png">Moody Scifi</div>
										<div class="label free"><a href="https://horsetranq.com/login">FREE WEKEND</a></div>
									</div>
									<div class="option-flex">
										<div class="option" data-value="mood-bg-6.png">Moody Scifi Alt</div>
										<div class="label free"><a href="https://horsetranq.com/login">FREE WEKEND</a></div>
									</div>
								{% endif %}	
							</div>
						</div>
					</div>					

					<!-- Horse type selector -->
					<div class="cd-filter-block">
						<div class="custom-select">
							<div id="type-selector" class="optn-select no-highlight" name="selectThis" data-value="image-hors">Hors type</div>
							<div class="options">
								<div class="option" data-value="image-hors">Hors (Hors)</div>
								{% if logged_in %}
									<div class="option" data-value="image-people">Not hors (People)</div>
									<div class="option" data-value="image-dog">Mebbe hors? (Dog)</div>
									<div class="option" data-value="image-idiot-hors">Idi0t hors (Hors?)</div>
									<div class="option" data-value="image-raven">Rav3n (Raven)</div>
									<div class="option" data-value="image-goose">Goose hors (Goose)</div>
								{% else %}
									<div class="option-flex">
										<div class="option" data-value="image-people">Not hors (People)</div>
										<div class="label free"><a href="https://horsetranq.com/login">FREE WEKEND</a></div>
									</div>
									<div class="option-flex">
										<div class="option" data-value="image-dog">Mebbe hors? (Dog)</div>
										<div class="label free"><a href="https://horsetranq.com/login">FREE WEKEND</a></div>
									</div>
									<div class="option-flex">
										<div class="option" data-value="image-idiot-hors">Idi0t hors (Hors?)</div>
										<div class="label free"><a href="https://horsetranq.com/login">FREE WEKEND</a></div>
									</div>
									<div class="option-flex">
										<div class="option" data-value="image-raven">Rav3n (Raven)</div>
										<div class="label free"><a href="https://horsetranq.com/login">FREE WEKEND</a></div>
									</div>
									<div class="option-flex">
										<div class="option" data-value="image-goose">Goose hors (Goose)</div>
										<div class="label free"><a href="https://horsetranq.com/login">FREE WEKEND</a></div>
									</div>
								{% endif %}	
							</div>
						</div>
					</div>

					<!-- Horse speed selector -->
					<div class="cd-filter-block">
						<div class="custom-select">
							<div id="speed-selector" class="optn-select no-highlight" data-value="1">Hors speed</div>
							<div class="options">
								<div class="option" data-value="0.125">Ded (Molassus)</div>
								<div class="option" data-value="1">Walk (1x)</div>
								<div class="option" data-value="3">Trott  (3x)</div>
								{% if logged_in %}
									<div class="option" data-value="5">Canter (5x)</div>
									<div class="option" data-value="10">Gallop (10x)</div>
									<div class="option" data-value="50">U stupid (50x)</div>
								{% else %}
									<div class="option-flex">
										<div class="option" data-value="5">Canter (5x)</div>
										<div class="label free"><a href="https://horsetranq.com/login">FREE WEKEND</a></div>
									</div>
									<div class="option-flex">
										<div class="option" data-value="10">Gallop (10x)</div>
										<div class="label free"><a href="https://horsetranq.com/login">FREE WEKEND</a></div>
									</div>
									<div class="option-flex">
										<div class="option" data-value="50">U stupid (50x)</div>
										<div class="label free"><a href="https://horsetranq.com/login">FREE WEKEND</a></div>
									</div>
								{% endif %}	
							</div>
						</div>
					</div>

					<!-- Horse power selector -->
					<div class="cd-filter-block">
						<div class="custom-select">
							<div id="power-selector" class="optn-select no-highlight" data-value="50">Hors power</div>
							<div class="options">
								<div class="option" data-value="50">Normanl (50 hors)</div>
								<div class="option" data-value="100">Tuff (100 hors)</div>
								{% if logged_in %}
									<div class="option" data-value="250">Big tuff (250 hors)</div>
									<div class="option" data-value="500">Mega tuff (500 hors)</div>
									<div class="option" data-value="1500">Donot clik (1500 hors)</div>
									<div class="option" data-value="5000">U stupid (5000 hors)</div>
								{% else %}
									<div class="option-flex">
										<div class="option" data-value="250">Big tuff (250 hors)</div>
										<div class="label free"><a href="https://horsetranq.com/login">FREE WEKEND</a></div>
									</div>
									<div class="option-flex">
										<div class="option" data-value="500">Mega tuff (500x)</div>
										<div class="label free"><a href="https://horsetranq.com/login">FREE WEKEND</a></div>
									</div>
									<div class="option-flex">
										<div class="option" data-value="1500">Donot clik (1500 hors)</div>
										<div class="label free"><a href="https://horsetranq.com/login">FREE WEKEND</a></div>
									</div>
									<div class="option-flex">
										<div class="option" data-value="5000">U stupid (5000 hors)</div>
										<div class="label free"><a href="https://horsetranq.com/login">FREE WEKEND</a></div>
									</div>
								{% endif %}	
							</div>
						</div>
					</div>

					<!-- Horse size selector -->
					<div class="cd-filter-block">
						<div class="custom-select">
							<div id="size-selector" class="optn-select no-highlight" data-value="1">Hors size</div>
							<div class="options">
								{% if logged_in %}
									<div class="option" data-value="0.25">Shutland Pony (0.25x)</div>
									<div class="option" data-value="0.50">Regulr Pony (0.50x)</div>
									<div class="option" data-value="1">Normanl (1x)</div>
									<div class="option" data-value="2">Big hors (2x)</div>
									<div class="option" data-value="3">Trojin hors (3x)</div>
								{% else %}
								<div class="option" data-value="1">Normanl (1x)</div>
								<div class="option" data-value="2">Big hors (2x)</div>
									<div class="option-flex">
										<div class="option" data-value="0.25">Shutland Pony (0.25x)</div>
										<div class="label free"><a href="https://horsetranq.com/login">FREE WEKEND</a></div>
									</div>
									<div class="option-flex">
										<div class="option" data-value="0.50">Regulr Pony (0.50x)</div>
										<div class="label free"><a href="https://horsetranq.com/login">FREE WEKEND</a></div>
									</div>
									<div class="option-flex">
										<div class="option" data-value="3">Trojin hors (3x)</div>
										<div class="label free"><a href="https://horsetranq.com/login">FREE WEKEND</a></div>
									</div>
								{% endif %}	
							</div>
						</div>
					</div>

					<!-- Horse movement style selector -->
					<div class="cd-filter-block">
						<div class="custom-select">
							<div id="movement-selector" class="optn-select no-highlight" data-value="mixed">Hors movement</div>
							<div class="options">
								<div class="option" data-value="mixed">Mixed (Random bouncing)</div>
								<div class="option" data-value="straight">Straight (No bouncing)</div>
								{% if logged_in %}
									<div class="option" data-value="bob">Light Bob</div>
									<div class="option" data-value="float">Floaty</div>
									<div class="option" data-value="wave">Wavy</div>
								{% else %}
									<div class="option-flex">
										<div class="option" data-value="bob">Light Bob</div>
										<div class="label free"><a href="https://horsetranq.com/login">FREE WEKEND</a></div>
									</div>
									<div class="option-flex">
										<div class="option" data-value="float">Floaty</div>
										<div class="label free"><a href="https://horsetranq.com/login">FREE WEKEND</a></div>
									</div>
									<div class="option-flex">
										<div class="option" data-value="wave">Wavy</div>
										<div class="label free"><a href="https://horsetranq.com/login">FREE WEKEND</a></div>
									</div>
								{% endif %}	
							</div>
						</div>
					</div>
				</div> <!-- freePlaySettings-->
				
				<div id="settingsSaveContainer" class="flex">
					<button type="button" id="settingsSaveBtn" class="pickle shadow">Save</button>
				</div>
			</form>
		</div>

	</main> <!-- cd-main-content -->

	<script>
		window.auth0UserId = '{{ user_id }}';
		window.firebaseToken = '{{ firebase_token }}';
	</script>
			<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
	<script src="/static/js/resources/jquery.mixitup.min.js"></script>
	<script type="module" src="/static/js/main.js"></script> <!-- Resource jQuery -->
	<script type="module" src="/static/js/firebase.js"></script>
	<script src="/static/js/secondary/horsplay.js"></script>
	<script>
		// Make logged in status available to JavaScript
		window.loggedIn = {{ 'true' if logged_in else 'false' }};
	</script>
	<script src="/static/js/secondary/username-editor.js"></script> <!-- Username editing functionality -->
	<script src="/static/js/secondary/account-button.js"></script> <!-- Account button avatar functionality -->
	<script src="/static/js/secondary/hide-avatar.js"></script> <!-- Hide avatar checkbox functionality -->
	<script src="/static/js/game-tracker.js"></script> <!-- Game tracking functionality -->
	{% if logged_in %}
	<script>
		// Pass user data to JavaScript for score tracking
		window.currentUser = {
			id: {{ session.profile.user_id|tojson }},
			name: {{ session.profile.name|tojson }},
			email: {{ email|tojson }}
		};
	</script>
	{% else %}
	<script>
		window.currentUser = null;
	</script>
	{% endif %} <!-- Horsplay JS -->
	
	<script src="/static/js/resources/jquery-ui.js"></script> <!-- Added for the draggable UI -->
	<script src="/static/js/resources/jquery.ui.touch-punch.min.js"></script> 
	</body>
</html>