<!doctype html>
<html lang="en" class="no-js bg-primary">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;900&display=swap" rel="stylesheet">
		<link rel="icon" type="image/x-icon" href="/static/img/assets/ico/hors.ico">
		<link rel="stylesheet" href="/static/css/reset.css"> <!-- CSS reset -->
		<link rel="stylesheet" href="/static/css/style.css"> <!-- Resource style -->
		<link rel="stylesheet" href="../static/css/style-slides.css"> <!-- Slide specific style -->
		<link rel="stylesheet" href="/static/css/variables.css"> <!-- Variables style -->
		<link rel="stylesheet" href="/static/css/style-v3.css"> <!-- New v3 style -->
		<script src="/static/js/resources/modernizr.js"></script> <!-- Modernizr -->
		<script src="https://cdn.auth0.com/js/auth0/9.18/auth0.min.js"></script>
		<script src="https://cdn.auth0.com/js/auth0-spa-js/2.0/auth0-spa-js.production.js"></script>
		<script src="https://www.gstatic.com/firebasejs/8.6.1/firebase-app.js"></script>
		<script src="https://www.gstatic.com/firebasejs/8.6.1/firebase-auth.js"></script>
		<script src="https://www.gstatic.com/firebasejs/8.6.1/firebase-database.js"></script>
		<title>HOrstRnq</title>
	</head>
	<body>
		<div id="loadingScreen" style="position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: #ffffff; z-index: 10000;">
			<div id="loading-img-container">
				<img src="/static/img/loading/hors-load-3.gif" alt="Loading..." loading="eager" style="width: 150px; height: auto;" />
			</div>
		</div>	
		<main id="index" class="main-content">
			{% include 'partials/navigation_menu.html' %}

			<div class="main-wrapper">
				<div class="hero-section margin-auto-desktop margin-auto-phone margin-auto-tablet width-lg-desktop width-md-tablet width-xl-phone">
					<div class="flex-row-desktop flex-column-phone flex-align-center flex-justify-center gap-xl">
						<div class=" flex-column-desktop flex-column-phone flex-justify-center flex-align-items-start width-md-desktop">
							<div class="flex-row-desktop flex-align-items-start text-left">
								<p class="margin-lg-desktop margin-sm-phone margin-lg-tablet font-size-md font-weight-xl color-accent-white">Horsplay Seasin 2 is here! Play teh orignal hors tranqlizer game. Earn rwards an unlok achivements thru teh <span class="color-accent-gold">HorsPass</span>.</p>
							</div>
							<div id="index-hero-button" class="button shadow-white-md font-weight-xl font-size-xl margin-lg-desktop margin-sm-phone margin-lg-tablet">
								<a href="/horsplay" class="color-accent-gold">
									PLAY NOW
								</a>
							</div>
						</div>
						<div id="index-hero-square" class="width-lg-phone width-md-tablet margin-auto-phone margin-auto-tablet border-radius border-radius">
							<div class="main-label bg-accent-gold color-accent-grey-dark">HORSPLAY: SEASIN 2</div>
							<img id="index-hero-img" src="/static/img/branding/horsetranq-v3.png" alt="Horsetranq" />
						</div>
					</div>
				</div>

				<div class="main-section bg-primary-dark">
					<div class="flex-row-desktop flex-column-phone flex-align-center flex-justify-center margin-auto-desktop margin-auto-phone margin-auto-tablet width-lg-desktop width-md-tablet width-xl-phone gap-xl">
						<div class="width-md-desktop width-lg-phone margin-auto-phone shadow-gold-lg border-radius" style="position: relative;">
							<div class="main-label bg-error-dark color-accent-white">THIS IS HORSPLAY</div>
							<img id="index-horsetranq-game-img" src="../static/img/branding/game-horsetranq-alt-large.png" alt="Horsetranq Game" class="width-full-desktop width-full-phone width-full-tablet" />
						</div>
						<div class="flex-column-desktop flex-column-phone flex-justify-center flex-align-items-start width-md-desktop">
							<div class="flex-column-desktop flex-align-items-start text-left">
								<p class="margin-lg-desktop margin-sm-phone margin-lg-tablet font-size-md font-weight-xl color-accent-white">
									Welcom to teh high-powared hybred arcade-styl hors tranqulizer mayham! Customize ur tranq, hit teh pasturs, and compete in one of teh most critclally aclaime horse tranq games of all time!
								</p>
							</div>
							<!-- Accordion Toggle Button -->
							<div id="accordion-toggle">
								<button id="accordionToggle" class="button button-alt accordion-button shadow-green-alt-md font-weight-xl font-size-md margin-lg-desktop margin-sm-phone margin-lg-tablet color-accent-grey-dark">
									TELL ME MOAR, HOSS
								</button>
							</div>
						</div>
					</div>
				</div>

				<!-- Accordion Sections Container -->
				<div class="accordion-sections" id="accordionSections">
					<div class="main-section bg-primary-dark-alt">
						<div class="flex-row-desktop flex-column-phone flex-align-center flex-justify-center margin-auto-desktop margin-auto-phone margin-auto-tablet width-lg-desktop width-md-tablet width-xl-phone gap-xl">
							<div class="width-sm-desktop width-lg-phone margin-auto-phone shadow-gold-lg">
								<img src="/static/img/branding/horsetranq-v3.png" alt="Horsetranq" />
							</div>
							<div class="flex-column-desktop flex-column-phone flex-justify-center flex-align-items-start width-md-desktop">
								<div class="flex-column-desktop flex-align-items-start text-left">
									<p class="margin-lg-desktop margin-sm-phone margin-lg-tablet font-size-md font-weight-xl color-accent-white">
										Our HorsPass S2</span> offer unmatch contant and rewards. Acess <span class="color-accent-gold">10 uniq unlokable itams</span> by playin Horsplay an tranq as many horse as possable. Score based on total horsas tranqted.
									</p>
								</div>
								<div class="button shadow-white-md font-weight-xl font-size-lg margin-lg-desktop margin-sm-phone margin-lg-tablet">
									<a href="/horsplay" class="color-accent-gold">
										VIEW HORSPASS
									</a>
								</div>
							</div>
						</div>
					</div>

					<div class="main-section bg-primary-dark-alt">
						<div class="flex-row-desktop flex-column-phone flex-align-center flex-justify-center margin-auto-desktop margin-auto-phone margin-auto-tablet width-lg-desktop width-md-tablet width-xl-phone gap-xl">
							<div class="width-sm-desktop width-lg-phone margin-auto-phone shadow-gold-lg">
								<img src="/static/img/branding/horsetranq-v3.png" alt="Horsetranq" />
							</div>
							<div class=" flex-column-desktop flex-column-phone flex-justify-center flex-align-items-start width-md-desktop">
								<div class="flex-row-desktop flex-align-items-start text-left">
									<p class="margin-lg-desktop margin-sm-phone margin-lg-tablet font-size-md font-weight-xl color-accent-white">See how ur tranqing skil stak up against other playars. Compeet for a spot on teh top 100 hundred list.</p>
								</div>
								<div class="button shadow-white-md font-weight-xl font-size-lg margin-lg-desktop margin-sm-phone margin-lg-tablet">
									<a href="/horsplay" class="color-accent-gold">
										VIEW TOP 100
									</a>
								</div>
							</div>
						</div>
					</div>

					<div class="main-section bg-primary-dark-alt">
						<div class="flex-row-desktop flex-column-phone flex-align-center flex-justify-center margin-auto-desktop margin-auto-phone margin-auto-tablet width-lg-desktop width-md-tablet width-xl-phone gap-xl">
							<div class="width-sm-desktop width-lg-phone margin-auto-phone shadow-gold-lg">
								<img src="/static/img/branding/horsetranq-v3.png" alt="Horsetranq" />
							</div>
							<div class=" flex-column-desktop flex-column-phone flex-justify-center flex-align-items-start width-md-desktop">
								<div class="flex-row-desktop flex-align-items-start text-left">
									<p class="margin-lg-desktop margin-sm-phone margin-lg-tablet font-size-md font-weight-xl color-accent-white">Donut b a sqare. Come play teh orignal hors tranqlizer game. Earn rwards an unlok ur dremes. Or at lest some hors memrobelia.</p>
								</div>
								<div class="button shadow-white-md font-weight-xl font-size-lg margin-lg-desktop margin-sm-phone margin-lg-tablet">
									<a href="/horsplay" class="color-accent-gold">
										VIEW PASS
									</a>
								</div>
							</div>
						</div>
					</div>
				</div> <!-- End Accordion Sections Container -->

				<!-- Subscribe Section -->
				<div class="main-section bg-primary">
					<div class="flex-row-desktop flex-column-phone flex-align-center flex-justify-center margin-auto-desktop margin-auto-phone margin-auto-tablet width-lg-desktop width-md-tablet width-xl-phone" style="margin-bottom: 6em;">
						<div class="flex-column-desktop flex-column-phone flex-justify-center flex-align-items-center width-lg-desktop">
							<div class="margin-xl-desktop margin-md-phone margin-md-tablet">
								<a href="/store"" class="button button-alt shadow-gold-md font-weight-xl font-size-md margin-lg-desktop margin-sm-phone margin-lg-tablet color-accent-grey-dark">SEE THE STOR</a>
							</div>
							<div class="flex-column-desktop flex-align-items-start text-center">
								<p class="margin-lg-desktop margin-sm-phone margin-lg-tablet font-size-md font-weight-xl color-accent-white">
									Support our devlopars so we can continu making quality games. Subscripers hav access to sevral uniqu rewards not avlable to free playars. See teh store for more detales.
								</p>
							</div>
						</div>
					</div><div class="main-label bg-accent-gold color-accent-grey-dark">SUBSCRIBE</div>

					<div class="flex-row-desktop flex-column-phone flex-align-center flex-justify-center margin-auto-desktop margin-auto-phone margin-auto-tablet width-lg-desktop width-md-tablet width-xl-phone">
						<div class="flex-row-desktop flex-column-phone flex-justify-center flex-align-items-center width-full-desktop width-full-phone width-full-tablet gap-xl">
							<div id="index-hors-one" class="card flex-column-desktop flex-column-phone flex-justify-center flex-align-items-center width-md-desktop width-full-phone width-full-tablet margin-md-desktop margin-sm-phone margin-md-tablet shadow-green" style="position: relative;">
								<div class="main-label bg-accent-gold color-accent-grey-dark">$3/mo</div>
								<div class="width-full-desktop width-full-phone width-full-tablet">
									<img src="/static/img/branding/hors-one.png" alt="Feature Image" class="width-full-desktop width-full-phone width-full-tablet" />
								</div>
								<div class="flex-column-desktop flex-column-phone flex-justify-center flex-align-items-center width-full-desktop width-full-phone width-full-tablet margin-lg-desktop margin-sm-phone margin-lg-tablet">
									<p class="font-size-base font-weight-md color-accent-white text-center-desktop text-center-tablet text-left-phone font-weight-xl">Genral suport</p>
									<p class="font-size-base font-weight-md color-accent-white text-center-desktop text-center-tablet text-left-phone font-weight-xl">Webcite shout out</p>
									<p class="font-size-base font-weight-md color-accent-white text-center-desktop text-center-tablet text-left-phone font-weight-xl">Digtal icon pak</p>
									<p class="font-size-base font-weight-md color-accent-white text-center-desktop text-center-tablet text-left-phone font-weight-xl">Munthee newsletr</p>
								</div>
								<a href="https://www.patreon.com/horsetranq" class="button shadow-white-md font-weight-xl font-size-md color-accent-grey-dark">
									SEE MORE
								</a>
							</div>

							<div id="index-hors-plus" class="card flex-column-desktop flex-column-phone flex-justify-center flex-align-items-center width-md-desktop width-full-phone width-full-tablet margin-md-desktop margin-sm-phone margin-md-tablet shadow-green" style="position: relative;">
								<div class="main-label bg-accent-gold color-accent-grey-dark">$6/mo</div>
								<div class="width-full-desktop width-full-phone width-full-tablet">
									<img src="/static/img/branding/hors-plus.png" alt="Feature Image" class="width-full-desktop width-full-phone width-full-tablet" />
								</div>
								<div class="flex-column-desktop flex-column-phone flex-justify-center flex-align-items-center width-full-desktop width-full-phone width-full-tablet margin-lg-desktop margin-sm-phone margin-lg-tablet">
									<p class="font-size-base font-weight-md color-accent-white text-center-desktop text-center-tablet text-left-phone font-weight-xl">All pryer rewrds</p>
									<p class="font-size-base font-weight-md color-accent-white text-center-desktop text-center-tablet text-left-phone font-weight-xl">Digtal artwerk</p>
									<p class="font-size-base font-weight-md color-accent-white text-center-desktop text-center-tablet text-left-phone font-weight-xl">Erly acess fetures</p>
									<p class="font-size-base font-weight-md color-accent-white text-center-desktop text-center-tablet text-left-phone font-weight-xl">Galop merch stor acess</p>
								</div>
								<a href="https://www.patreon.com/horsetranq" class="button shadow-white-md font-weight-xl font-size-md color-accent-grey-dark">
									SEE MORE
								</a>
							</div>

							<div id="index-hors-max" class="card flex-column-desktop flex-column-phone flex-justify-center flex-align-items-center width-md-desktop width-full-phone width-full-tablet margin-md-desktop margin-sm-phone margin-md-tablet shadow-green" style="position: relative;">
								<div class="main-label bg-accent-gold color-accent-grey-dark">$10/mo</div>
								<div class="width-full-desktop width-full-phone width-full-tablet">
									<img src="/static/img/branding/hors-max.png" alt="Feature Image" class="width-full-desktop width-full-phone width-full-tablet" />
								</div>
								<div class="flex-column-desktop flex-column-phone flex-justify-center flex-align-items-center width-full-desktop width-full-phone width-full-tablet margin-lg-desktop margin-sm-phone margin-lg-tablet">
									<p class="font-size-base font-weight-md color-accent-white text-center-desktop text-center-tablet text-left-phone font-weight-xl">All pryer rewrds</p>
									<p class="font-size-base font-weight-md color-accent-white text-center-desktop text-center-tablet text-left-phone font-weight-xl">TrankTalk live Q&a</p>
									<p class="font-size-base font-weight-md color-accent-white text-center-desktop text-center-tablet text-left-phone font-weight-xl">Horstranq AI Acess</p>
									<p class="font-size-base font-weight-md color-accent-white text-center-desktop text-center-tablet text-left-phone font-weight-xl">'Makin of' documentry</p>
								</div>
								<a href="https://www.patreon.com/horsetranq" class="button shadow-white-md font-weight-xl font-size-md color-accent-grey-dark">
									SEE MORE
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="main-section bg-primary">
					
				</div>

		{% include 'partials/account_modal.html' %}	
		</main> <!-- cd-main-content -->
	<script>
		window.auth0UserId = '{{ user_id }}';
	</script>
	<script>
		window.auth0UserId = '{{ user_id }}';
		window.firebaseToken = '{{ firebase_token }}';
	</script>
	<script src="https://uptime.betterstack.com/widgets/announcement.js" data-id="165972" async="async" type="text/javascript"></script>
	<script src="/static/js/resources/jquery-2.1.1.js"></script>
	<script src="/static/js/resources/jquery.mixitup.min.js"></script>
	<script type="module" src="/static/js/main.js"></script> <!-- Resource jQuery -->
	<script type="module" src="/static/js/firebase.js"></script>
	<script src="/static/js/secondary/main-slides.js"></script> <!-- Resource jQuery -->
	<script src="/static/js/secondary/diagonal.js"></script> <!-- Resource jQuery -->
	<script>
		// Make logged in status available to JavaScript
		window.loggedIn = {{ 'true' if logged_in else 'false' }};
	</script>
	<script src="/static/js/secondary/username-editor.js"></script> <!-- Username editing functionality -->
	<script src="/static/js/secondary/account-button.js"></script> <!-- Account button avatar functionality -->
	<script src="/static/js/secondary/hide-avatar.js"></script> <!-- Hide avatar checkbox functionality -->
	<script src="/static/js/secondary/avatar-selector.js"></script> <!-- Avatar selection dropdown functionality -->
	<script src="/static/js/resources/jquery.min.js"></script> <!-- Added for the draggable UI -->
	<script src="/static/js/resources/jquery-ui.js"></script> <!-- Added for the draggable UI -->
	<script src="/static/js/resources/jquery.ui.touch-punch.min.js"></script>
	</body>
</html>