<!doctype html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
		<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;900&amp;display=swap" rel="stylesheet">
		<link rel="icon" type="image/x-icon" href="/static/img/assets/ico/hors.ico">
		<link rel="stylesheet" href="../static/css/reset.css"> <!-- CSS reset -->
		<link rel="stylesheet" href="../static/css/style.css"> <!-- Main style -->
		<link rel="stylesheet" href="../static/css/style-slides.css"> <!-- Slide specific style -->
		<link rel="stylesheet" href="../static/css/variables.css"> <!-- Variables style -->
		<script src="../static/js/modernizr.js"></script> <!-- Modernizr -->
		<script src="https://cdn.auth0.com/js/auth0/9.18/auth0.min.js"></script>
		<title>HOrstRnq</title>
	</head>
	<body>
		<main class="cd-main-content scoll static-bg horseplay-background is-fixed">
			<div class="cd-tab-filter-wrapper">
				<div class="cd-tab-filter">
					<ul id="menu-list" class="cd-filters js-signin-modal-trigger cd-main-nav__list shadow">
						<li class="placeholder"> 
							<a href="#0">STABLE</a> <!-- selected option on mobile -->
						</li> 
						<li><a id="horsplayBtn" href="/" class="selected">STABLE</a></li>
						<li><a href="/store" id="storeBtn">STOR</a></li> 
						<li><a href="/about" id="aboutBtn" class="cd-filter-trigger modal-trigger" data-target="aboutModal">ABOUT</a></li>
						{% if logged_in %}
						<li><a href="#0" id="myAccountBtn" class="cd-filter-trigger modal-trigger" data-target="accountModal">{{ session.profile.name.split(' ')[0] }}</a></li>
						{% else %}
							<li><a href="/login" id="accountBtn" class="cd-filter-trigger modal-trigger" data-target="accountModal">SIGN IN</a></li>
						{% endif %}	
						<li><div class="label beta">BETA</div></li>
					</ul>
				</div>
			</div>
			{% if logged_in %}
			<!-- ACCOUNT MODAL -->
			<div id="accountModal" class="cd-filter shadow">
				<div class="sticky-container">
					<div class="modal-title-container sticky">
						<div class="modal-title-wrapper">
							<div class="title-wrapper">
								<h4 class="modal-title big-bold color-primary-darker center">Account Profile</h4>
								<a href="#0" class="cd-close-filter flex-right"></a>
							</div>
						</div>
					</div>
				</div>
				<form>
					<div class="cd-filter-block">
						<div class="cd-filter-content">
							<div class="title-wrapper flex settings">
								<h4 class="bold color-contrast-medium">Plan</h4>
								<div class="label plus">PLUS</div>
							</div>
							<div class="title-wrapper flex settings">
								<h4 class="bold color-contrast-medium">Name</h4>
								<p class="bold color-contrast-higher">
									{% if name %}
										{{ name }}
									{% else %}
										Guest
									{% endif %}
								</p>
							</div>
							<div class="title-wrapper flex settings">
								<h4 class="bold color-contrast-medium">Email</h4>
								<p class="bold color-contrast-higher">
									{% if logged_in %}
										{{ email }}
									{% else %}
										Unknown
									{% endif %}
								</p>
							</div>
							<div class="title-wrapper flex settings">
								<h4 class="bold color-contrast-medium">Avatar</h4>
								{% if logged_in %}
									<div class="profile-image">
										<img src="{{ picture }}" alt="Profile Picture" width="100" height="100">
									</div>
								{% else %}
									<div class="profile-image">
										<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/480px-Default_pfp.svg.png" alt="Profile Picture" width="100" height="100">
									</div>
								{% endif %}
							</div>
						</div>
					</div>
					<div class="cd-filter-block">
						<div id="accountTools" class="title-wrapper flex settings bg-none">
							<button type="button" id="accountSaveBtn" class="pickle shadow hide">Save</button>
							<button type="button" id="accountSignOutBtn" class="pickle shadow">Sign Out</button>
							<button type="button" id="accountDeleteBtn" class="pickle shadow hide">Delet Accnt</button>
						</div>
					</div>
				</form>
			</div>
		{% else %}
		{% endif %}	
		</main>


		<div class="cd-projects-wrapper projects-visible">
			<ul class="cd-slider" style="width: 2931.75px; transform: translateX(0px);">
				
				<li id="games-title-slide" class="ui-container shadow title-slide slides-in current">
					<div class="project-info">
					<h2 class="big-bold">GAMES</h2>
					<p>Intractiv hors vido gams</p>
					</div>
				</li>
		
				<li class="ui-container shadow slides-in current previous">
				<a href="/horsplay">
					<img src="../static/img/branding/game-horsetranq.png" alt="project image">
					<div class="project-info">
						<div class="flex">
							<h2>Hors Play</h2>
							<div class="label free">FREE</div>
						</div>
						<p>Ur typicl fast paste hors tranq'in gam</p>
					</div>
				</a>
				</li>
		
				<li class="ui-container shadow slide-coming-soon slides-in">
					<img src="../static/img/branding/game-trottank-alt.png" alt="project image">
					<div class="project-info">
						<div class="flex">
							<h2>Trot Tank</h2>
							<div class="label one">ONE</div>
						</div>
						<p>Turnt bas tank game wit math skils</p>
					</div>
				</li>
		
				<li class="ui-container shadow slide-coming-soon slides-in">
					<img src="../static/img/branding/game-gallopgun.png" alt="project image">
					<div class="project-info">
						<div class="flex">
							<h2>Gallop Gun</h2>
							<div class="label plus">PLUS</div>
						</div>
					<p>Three-d interactiv FHS gaem</p>
					</div>
				</li>

				<li id="news-title-slide" class="ui-container shadow title-slide slides-in current">
					<div class="project-info">
					<h2 class="big-bold">NEWS</h2>
					<p>Latast gratest hors news for ur life</p>
					</div>
				</li>
			
				<li class="ui-container shadow slides-in">
					<a href="#0">
					<img src="../static/img/branding/season-1-alt.png" alt="project image">
					<div class="project-info">
						<h2>Season One</h2>
						<p>Release soon get rady for tranq</p>
					</div>
					</a>
				</li>
			
				<li class="ui-container shadow slide-coming-soon slides-in">
					<img src="../static/img/branding/season-2.png" alt="project image">
					<div class="project-info">
					<h2>Seson two</h2>
					<p>New skinz an batlepass contant</p>
					</div>
				</li>
			
				<li class="ui-container shadow slides-in">
					<img src="../static/img/assets/tranq.png" alt="project image">
					<div class="project-info">
					<h2>Horsplay live Jun 1!</h2>
					<p style="overflow: visible!important; white-space: wrap!important; white-space: normal;word-wrap: break-word;">
						Teh crazy gaem were u tranq hors, ppl, dogs or watver. The trank is up for you to decide.
					</p>
					</div>
				</li>
			</ul>

			<ul class="cd-slider-navigation cd-img-replace">
				<li><a href="#0" class="prev inactive">Prev</a></li>
				<li><a href="#0" class="next">Next</a></li>
			</ul> <!-- .cd-slider-navigation -->
		</div>


		<script src="/static/js/jquery-2.1.1.js"></script>
		<script src="/static/js/main.js"></script> <!-- Resource jQuery -->
		<script src="../static/js/slides/main-slides.js"></script> <!-- Resource jQuery -->
		<script src="../static/js/slides/jquery.mobile.custom.min.js"></script>
		<script src="/static/js/jquery.min.js"></script> <!-- Added for the draggable UI -->
		<script src="/static/js/jquery-ui.js"></script> <!-- Added for the draggable UI -->
		<script src="/static/js/jquery.ui.touch-punch.min.js"></script> 
	</body>
</html>