<!doctype html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;900&display=swap" rel="stylesheet">
		<link rel="icon" type="image/x-icon" href="/static/img/ui/hors.ico">
		<link rel="stylesheet" href="/static/css/reset.css"> <!-- CSS reset -->
		<link rel="stylesheet" href="/static/css/style.css"> <!-- Resource style -->

		<link rel="stylesheet" href="/static/css/variables.css"> <!-- Variables style -->
		<link rel="stylesheet" href="/static/css/style-v3.css"> <!-- New v3 style -->
		<script src="/static/js/resources/modernizr.js"></script> <!-- Modernizr -->
		<script src="https://cdn.auth0.com/js/auth0/9.18/auth0.min.js"></script>
		<script src="https://cdn.auth0.com/js/auth0-spa-js/2.0/auth0-spa-js.production.js"></script>
		<script src="https://www.gstatic.com/firebasejs/8.6.1/firebase-app.js"></script>
		<script src="https://www.gstatic.com/firebasejs/8.6.1/firebase-auth.js"></script>
		<script src="https://www.gstatic.com/firebasejs/8.6.1/firebase-database.js"></script>
		<title>HOrstRnq</title>
	</head>
	<body>

		<main id="index" class="main-content">
			{% include 'partials/navigation_menu.html' %}

			<div class="main-wrapper" data-animate="page-intro">
				<div class="hero-section margin-auto-desktop margin-auto-phone margin-auto-tablet width-lg-desktop width-lg-tablet width-xl-phone">
					<div class="flex-row-reverse-desktop flex-row-reverse-phone flex-row-reverse-tablet flex-align-center flex-justify-center margin-auto-all max-width-xl-all gap-sm-all gap-xxl-desktop gap-sm-tablet">
						<div id="hero-square" class="width-full-phone width-full-tablet width-md-desktop rotate-left-all">
							<img id="index-hero-img" src="/static/img/branding/horsetranq-v3-horsegoose.png" alt="Horsetranq">
						</div>
						<div class=" flex-column-desktop flex-column-tablet flex-column-phone flex-justify-center flex-align-items-start width-md-desktop">
							<div class="flex-row-desktop flex-align-items-start text-left font-size-lg">
								<div class="main-label bg-accent-gold color-accent-grey-dark margin-lg-desktop margin-sm-phone margin-lg-tablet padding-md-all">HORSPLAY: SEASIN 2</div>
							</div>
							<div class="flex-row-desktop flex-align-items-start text-left">
								<p class="margin-lg-desktop margin-sm-phone margin-lg-tablet font-size-md font-weight-xl color-accent-white">Horsplay Seasin 2 is here! Play teh orignal hors tranqlizer game. Earn rwards an unlok achivements thru teh <span class="color-accent-gold">HorsPass</span>.</p>
							</div>
							<div id="index-hero-button" class="button shadow-white-md font-weight-xl font-size-xl margin-lg-desktop margin-sm-phone margin-lg-tablet">
								<a href="/horsplay" class="color-accent-gold">
									PLAY NOW
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="main-section bg-primary-dark-gradient">
					<div class="flex-row-reverse-desktop flex-column-tablet flex-column-reverse-phone flex-align-center flex-justify-center margin-auto-desktop margin-auto-phone margin-auto-tablet width-xl-desktop width-md-tablet width-xl-phone gap-xxl-desktop gap-xl-tablet gap-xl-phone">
						<div class=" flex-column-desktop flex-column-tablet flex-column-phone flex-justify-center flex-align-items-end width-md-desktop">
							<div class="flex-row-desktop flex-align-items-start text-left font-size-lg">
								<div class="main-label bg-accent-gold color-accent-grey-dark margin-lg-desktop margin-sm-phone margin-lg-tablet padding-md-all">SUSCRIBE TO HORSCLUB</div>
							</div>
							<div class="flex-row-desktop flex-align-items-start text-left">
								<p class="margin-lg-desktop margin-sm-phone margin-lg-tablet font-size-md font-weight-lg text-right color-accent-white">Support our devlopars so we can continu making quality games. Subscripers hav access to sevral <span class="color-accent-gold">uniqu rewards</span> not avlable to free playars. See teh store for more detales.</p>
							</div>
							<div id="index-hero-button" class="button shadow-white-md font-weight-xl font-size-xl margin-lg-desktop margin-sm-phone margin-lg-tablet">
								<a href="/store" class="color-accent-gold">SEE STOR</a>
							</div>
						</div>
						<div class="flex-row-desktop flex-column-tablet flex-column-phone flex-justify-center flex-align-items-center width-full-desktop width-full-phone width-full-tablet gap-sm-all">
							<div id="index-hors-one" class="card flex-column-desktop flex-column-tablet flex-column-phone flex-justify-center flex-align-items-center width-md-desktop width-full-phone width-full-tablet margin-md-desktop margin-sm-phone margin-md-tablet border-radius-xl rotate-left-desktop rotate-left-tablet" style="position: relative;">
								<div class="main-label main-label-top-right bg-accent-gold color-accent-grey-dark padding-md-all">$3/mo</div>
								<div class="width-full-desktop width-sm-phone width-sm-tablet">
									<img src="/static/img/branding/hors-one.png" alt="Feature Image" class="width-full-desktop width-full-phone width-full-tablet border-radius-xl">
								</div>
								<div class="flex-column-desktop flex-row-tablet flex-row-phone flex-justify-center flex-align-items-center width-full-desktop width-full-phone width-full-tablet">
									<p class="font-size-base font-weight-md color-accent-grey-light text-center-desktop text-left-tablet text-left-phone font-weight-lg">Genral suport</p>
									<p class="font-size-base font-weight-md color-accent-grey-light text-center-desktop text-left-tablet text-left-phone font-weight-lg">Webcite shout out</p>
									<p class="font-size-base font-weight-md color-accent-grey-light text-center-desktop text-left-tablet text-left-phone font-weight-lg">Digtal icon pak</p>
									<p class="font-size-base font-weight-md color-accent-grey-light text-center-desktop text-left-tablet text-left-phone font-weight-lg">Munthee newsletr</p>
								</div>
								
							</div>

							<div id="index-hors-plus" class="card flex-column-desktop flex-column-tablet flex-column-phone flex-justify-center flex-align-items-center width-md-desktop width-full-phone width-full-tablet margin-md-desktop margin-sm-phone margin-md-tablet border-radius-xl rotate-right-desktop rotate-right-tablet" style="position: relative;">
								<div class="main-label main-label-top-right bg-accent-gold color-accent-grey-dark padding-md-all">$6/mo</div>
								<div class="width-full-desktop width-sm-phone width-sm-tablet">
									<img src="/static/img/branding/hors-plus.png" alt="Feature Image" class="width-full-desktop width-full-phone width-full-tablet border-radius-xl">
								</div>
								<div class="flex-column-desktop flex-row-tablet flex-row-phone flex-justify-center flex-align-items-center width-full-desktop width-full-phone width-full-tablet">
									<p class="font-size-base font-weight-md color-accent-grey-light text-center-desktop text-left-tablet text-left-phone font-weight-lg">All pryer rewrds</p>
									<p class="font-size-base font-weight-md color-accent-grey-light text-center-desktop text-left-tablet text-left-phone font-weight-lg">Digtal artwerk</p>
									<p class="font-size-base font-weight-md color-accent-grey-light text-center-desktop text-left-tablet text-left-phone font-weight-lg">Erly acess fetures</p>
									<p class="font-size-base font-weight-md color-accent-grey-light text-center-desktop text-left-tablet text-left-phone font-weight-lg">Galop merch stor acess</p>
								</div>
								
							</div>

							<div id="index-hors-max" class="card flex-column-desktop flex-column-tablet flex-column-phone flex-justify-center flex-align-items-center width-md-desktop width-full-phone width-full-tablet margin-md-desktop margin-sm-phone margin-md-tablet border-radius-xl rotate-right-desktop rotate-right-tablet" style="position: relative;">
								<div class="main-label main-label-top-right bg-accent-gold color-accent-grey-dark padding-md-all">$10/mo</div>
								<div class="width-full-desktop width-sm-phone width-sm-tablet">
									<img src="/static/img/branding/hors-max.png" alt="Feature Image" class="width-full-desktop width-full-phone width-full-tablet border-radius-xl">
								</div>
								<div class="flex-column-desktop flex-row-tablet flex-row-phone flex-justify-center flex-align-items-center width-full-desktop width-full-phone width-full-tablet">
									<p class="font-size-base font-weight-md color-accent-grey-light text-center-desktop text-left-tablet text-left-phone font-weight-lg">All pryer rewrds</p>
									<p class="font-size-base font-weight-md color-accent-grey-light text-center-desktop text-left-tablet text-left-phone font-weight-lg">TrankTalk live Q&amp;a</p>
									<p class="font-size-base font-weight-md color-accent-grey-light text-center-desktop text-left-tablet text-left-phone font-weight-lg">Horstranq AI Acess</p>
									<p class="font-size-base font-weight-md color-accent-grey-light text-center-desktop text-left-tablet text-left-phone font-weight-lg">'Makin of' documentry</p>
								</div>
								
							</div>
						</div>
					</div>

					
				</div>

				<!-- Accordion Sections Parent -->
				<div class="main-section flex-row-desktop flex-justify-center flex-align-center">
					<div class="flex-column-desktop flex-column-tablet flex-column-phone flex-justify-center flex-align-items-start width-md-desktop width-xl-phone width-md-tablet margin-auto-all ">
						<div class="flex-row-desktop flex-align-items-start text-left font-size-lg">
							<div class="main-label bg-accent-gold color-accent-grey-dark margin-lg-desktop margin-sm-phone margin-lg-tablet padding-md-all">BE A HERO - LEARN TEH RULES</div>
						</div>
						<div class="flex-row-desktop flex-align-items-start text-left">
							<p class="margin-lg-desktop margin-sm-phone margin-lg-tablet font-size-md font-weight-lg color-accent-white">Horstranq is an high-powerd hybred arcade-styl <span class="color-accent-gold">hors tranqulizer mayham</span> game! Learn how to play belo.</p>
						</div>
					</div>
				</div>

				<!-- Game Information Sections -->
					<div class="main-section flex-column-all gap-xxl-all">
						<div class="flex-row-desktop flex-row-phone flex-align-center flex-justify-center margin-auto-desktop margin-auto-phone margin-auto-tablet width-lg-desktop width-md-tablet width-xl-phone gap-xl-all">
							<div class="width-sm-desktop width-lg-phone margin-auto-phone shadow-green-md border-radius-xxl">
								<img src="/static/img/branding/horsetranq-v3.png" alt="Horsetranq">
							</div>
							<div class="flex-column-desktop flex-column-phone flex-justify-center flex-align-items-start width-md-desktop">
								<div class="flex-column-desktop flex-align-items-start text-left">
									<p class="margin-lg-desktop margin-sm-phone margin-lg-tablet font-size-md font-weight-xl color-accent-white">
										Our HorsPass S2 offer unmatch contant and rewards. Acess <span class="color-accent-gold">10 uniq unlokable itams</span> by playin Horsplay an tranq as many horse as possable. Score based on total horsas tranqted.
									</p>
								</div>
								<div class="button shadow-white-md font-weight-xl font-size-md margin-lg-desktop margin-sm-phone margin-lg-tablet">
									<a href="/horsplay" class="color-accent-gold">
										VIEW HORSPASS
									</a>
								</div>
							</div>
						</div>
						<div class="flex-row-desktop flex-row-reverse-phone flex-align-center flex-justify-center margin-auto-desktop margin-auto-phone margin-auto-tablet width-lg-desktop width-md-tablet width-xl-phone gap-xl-all">
							<div class="width-sm-desktop width-lg-phone margin-auto-phone shadow-green-md border-radius-xxl">
								<img src="/static/img/branding/horsetranq-v3.png" alt="Horsetranq">
							</div>
							<div class=" flex-column-desktop flex-column-phone flex-justify-center flex-align-items-start width-md-desktop">
								<div class="flex-row-desktop flex-align-items-start text-left">
									<p class="margin-lg-desktop margin-sm-phone margin-lg-tablet font-size-md font-weight-xl color-accent-white">See how ur tranqing skil stak up against other playars. Compeet for a spot on teh top 100 hundred list.</p>
								</div>
								<div class="button shadow-white-md font-weight-xl font-size-md margin-lg-desktop margin-sm-phone margin-lg-tablet">
									<a href="/horsplay" class="color-accent-gold">
										VIEW TOP 100
									</a>
								</div>
							</div>
						</div>
						<div class="flex-row-desktop flex-row-phone flex-align-center flex-justify-center margin-auto-desktop margin-auto-phone margin-auto-tablet width-lg-desktop width-md-tablet width-xl-phone gap-xl-all">
							<div class="width-sm-desktop width-lg-phone margin-auto-phone shadow-green-md border-radius-xxl">
								<img src="/static/img/branding/horsetranq-v3.png" alt="Horsetranq">
							</div>
							<div class=" flex-column-desktop flex-column-phone flex-justify-center flex-align-items-start width-md-desktop">
								<div class="flex-row-desktop flex-align-items-start text-left">
									<p class="margin-lg-desktop margin-sm-phone margin-lg-tablet font-size-md font-weight-xl color-accent-white">Donut b a sqare. Come play teh orignal hors tranqlizer game. Earn rwards an unlok ur dremes. Or at lest some hors memrobelia.</p>
								</div>
								<div class="button shadow-white-md font-weight-xl font-size-md margin-lg-desktop margin-sm-phone margin-lg-tablet">
									<a href="/horsplay" class="color-accent-gold">
										VIEW PASS
									</a>
								</div>
							</div>
						</div>
					</div>

				<div class="main-section"></div>


		</main> <!-- cd-main-content -->
	<script>
		window.auth0UserId = '{{ user_id }}';
		window.firebaseToken = '{{ firebase_token }}';
	</script>
	<script src="https://uptime.betterstack.com/widgets/announcement.js" data-id="165972" async="async" type="text/javascript"></script>
			<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
	<script src="/static/js/resources/jquery.mixitup.min.js"></script>
	<script type="module" src="/static/js/main.js"></script> <!-- Resource jQuery -->
	<script type="module" src="/static/js/firebase.js"></script>
	<script>
		// Make logged in status available to JavaScript
		window.loggedIn = {{ 'true' if logged_in else 'false' }};
	</script>
	<script src="/static/js/secondary/username-editor.js"></script> <!-- Username editing functionality -->
	<script src="/static/js/secondary/account-button.js"></script> <!-- Account button avatar functionality -->
	<script src="/static/js/secondary/hide-avatar.js"></script> <!-- Hide avatar checkbox functionality -->
	<script src="/static/js/secondary/avatar-selector.js"></script> <!-- Avatar selection dropdown functionality -->
	
	<script src="/static/js/resources/jquery-ui.js"></script> <!-- Added for the draggable UI -->
	<script src="/static/js/resources/jquery.ui.touch-punch.min.js"></script>
	</body>
</html>