<!doctype html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;900&display=swap" rel="stylesheet">
		<link rel="icon" type="image/x-icon" href="/static/img/ui/hors.ico">
		<link rel="stylesheet" href="/static/css/reset.css"> <!-- CSS reset -->
		<link rel="stylesheet" href="/static/css/style.css"> <!-- Resource style -->
		<link rel="stylesheet" href="/static/css/variables.css"> <!-- Variables style -->
		<link rel="stylesheet" href="/static/css/style-v3.css"> <!-- New v3 style -->
		<script src="/static/js/resources/modernizr.js"></script> <!-- Modernizr -->
		<script src="https://cdn.auth0.com/js/auth0/9.18/auth0.min.js"></script>
		<script src="https://cdn.auth0.com/js/auth0-spa-js/2.0/auth0-spa-js.production.js"></script>
		<title>Store - HOrstRnq</title>
	</head>
	<body>

		<main id="store" class="main-content">
			{% include 'partials/navigation_menu.html' %}

			<div class="main-wrapper" data-animate="page-intro">
				<div class="hero-section margin-auto-desktop margin-auto-phone margin-auto-tablet width-lg-desktop width-md-tablet width-xl-phone">
					<div class="flex-row-reverse-desktop flex-column-reverse-phone flex-align-center flex-justify-center gap-xxl-all">
						<div class="flex-column-desktop flex-column-phone flex-justify-center flex-align-items-start width-md-desktop">
							<div class="flex-row-desktop flex-align-items-start text-left">
								<p class="margin-lg-desktop margin-sm-phone margin-lg-tablet font-size-xxl font-weight-xl color-accent-gold">COMIN SOON</p>
							</div>
							<p class="margin-lg-desktop margin-sm-phone margin-lg-tablet font-size-md font-weight-xl color-accent-white">Prepar for teh HorsPass, comin soon. From her u will b able to unlok customizers and rewards. Be one of teh firts to get ur hands on premeim hors itams.</p>
							<div id="store-hero-button" class="button shadow-white-md font-weight-xl font-size-xl margin-lg-desktop margin-sm-phone margin-lg-tablet">
								<a href="/" class="color-accent-gold">
									GO TO STABLE
								</a>
							</div>
						</div>
						<div id="hero-square" class="width-lg-phone width-md-tablet margin-auto-phone margin-auto-tablet border-radius border-radius rotate-left-desktop shadow-green-md">
							<div class="main-label main-label-top-right bg-accent-gold color-accent-grey-dark font-size-lg padding-md-all">STOR</div>
							<img id="store-hero-img" src="/static/img/branding/horsetranq-v3-money-explosion.gif" alt="Horsetranq Store" />
						</div>
					</div>
				</div>
			</div>
		

		</main> <!-- main-content -->

		<script>
			window.auth0UserId = '{{ user_id }}';
			window.firebaseToken = '{{ firebase_token }}';
		</script>
		<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
		<script type="module" src="/static/js/main.js"></script> <!-- Resource jQuery -->
		<script>
			// Make logged in status available to JavaScript
			window.loggedIn = {{ 'true' if logged_in else 'false' }};
		</script>
		<script src="/static/js/secondary/username-editor.js"></script> <!-- Username editing functionality -->
		<script src="/static/js/secondary/account-button.js"></script> <!-- Account button avatar functionality -->
	</body>
</html>