<!doctype html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;900&display=swap" rel="stylesheet">
		<link rel="icon" type="image/x-icon" href="/static/img/assets/ico/hors.ico">
		<link rel="stylesheet" href="/static/css/reset.css"> <!-- CSS reset -->
		<link rel="stylesheet" href="/static/css/style.css"> <!-- Resource style -->
		<link rel="stylesheet" href="/static/css/variables.css"> <!-- Variables style -->
		<script src="/static/js/resources/modernizr.js"></script> <!-- Modernizr -->
		<script src="https://cdn.auth0.com/js/auth0/9.18/auth0.min.js"></script>
		<script src="https://cdn.auth0.com/js/auth0-spa-js/2.0/auth0-spa-js.production.js"></script>
		<title>HOrstRnq</title>
	</head>
	<body>
		<div id="loadingScreen" style="position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: #ffffff; z-index: 10000;">
			<div id="loading-img-container">
				<img src="/static/img/loading/hors-load-3.gif" alt="Loading..." />
			</div>
		</div>	
		<main class="cd-main-content scroll static-bg horseplay-background is-fixed">
			<div class="cd-tab-filter-wrapper">
				<div class="cd-tab-filter">
					<ul id="menu-list" class="cd-filters js-signin-modal-trigger cd-main-nav__list shadow">
						<li class="placeholder"> 
							<a href="#0">STOR</a> <!-- selected option on mobile -->
						</li> 
						<li><a id="horsplayBtn" href="/">STABLE</a></li>
						<li><a id="storeBtn" href="/store" class="selected">STOR</a></li> 
						<li><a href="/about" id="aboutBtn" class="cd-filter-trigger modal-trigger" data-target="aboutModal">ABOUT</a></li>
						{% if logged_in %}
						<li><a href="#0" id="myAccountBtn" class="cd-filter-trigger modal-trigger" data-target="accountModal">{{ session.profile.name.split(' ')[0] }}</a></li>
						{% else %}
							<li><a href="/login" id="accountBtn" class="cd-filter-trigger" data-target="accountModal">SIGN IN</a></li>
						{% endif %}	
						<li><div class="label beta">BETA</li>
					</ul>
				</div>
			</div>

			<div class="store-wrapper">
				<div class="store-flex-container subscribe">
					<div id="stor-title" class="title-container">
						<h2 class="big-bold">SCRIBE</h2>
						<p>Suport our equine eforts</p>
					</div>
					<div class="flex-container">
						<div class="ui-container product subscribe shadow">
							<div class="subscribe-container">
								<img src="/static/img/branding/hors-one.png">
							</div>
							<header class="cd-pricing-header hide">
								<h1>$5 mo for HORS ONE</h1>
							</header>
							<div class="cd-pricing-body">
								<ul class="cd-pricing-features big-bold big-bold">
									<li><em>Genral</em> suport</li>
									<li><em>Webcite</em> shout out</li>
									<li><em>Digtal</em> icon pak</li>
									<li><em>Munthee</em> newsletr</li>
									<li><a href="https://www.patreon.com/horsetranq"><em>Read</em> moar</a></li>
								</ul>
							</div>
							<footer class="cd-pricing-footer">
								<a href="https://www.patreon.com/horsetranq" class="cd-select product-buy">Subscripe ($3 mo)</a>
							</footer>
						</div>
						<div class="ui-container product subscribe shadow">
							<div class="subscribe-container">
								<img src="/static/img/branding/hors-plus.png">
							</div>
							<header class="cd-pricing-header hide">
								<h1>$10 mo for HORS PLUS</h1>
							</header>
							<div class="cd-pricing-body">
								<ul class="cd-pricing-features big-bold">
									<li><em>All pryer</em> rewrds</li>
									<li><em>Digtal</em> artwerk</li>
									<li><em>Erly acess</em> fetures</li>
									<li><em>Galop merch</em> stor acess</li>
									<li><a href="https://www.patreon.com/horsetranq"><em>Read</em> moar</a></li>
								</ul>
							</div>
							<footer class="cd-pricing-footer">
								<a href="https://www.patreon.com/horsetranq" class="cd-select product-buy">Subscripe ($6 mo)</a>
							</footer>
						</div>
						<div class="ui-container product subscribe shadow">
							<div class="subscribe-container">
								<img src="/static/img/branding/hors-max.png">
							</div>
							<header class="cd-pricing-header hide">
								<h1>$15 mo for HORS MAX</h1>
							</header>
							<div class="cd-pricing-body">
								<ul class="cd-pricing-features big-bold">
									<li><em>All pryer</em> rewrds</li>
									<li><em>TrankTalk</em> live Q&a</li>
									<li><em>Horstranq AI </em> API acess</li>
									<li><em>Makin of</em> documentry</li>
									<li><a href="https://www.patreon.com/horsetranq"><em>Read</em> moar</a></li>
								</ul>
							</div>
							<footer class="cd-pricing-footer">
								<a href="https://www.patreon.com/horsetranq" class="cd-select product-buy">Subscripe ($10 mo)</a>
							</footer>
						</div>
					</div>
				</div>
				<div class="store-flex-container subscribe section">
					<div id="stor-title" class="title-container">
						<h2 class="big-bold">DIGTAL</h2>
						<p>hors contant pak</p>
					</div>
					<div class="flex-container">
						<div class="ui-container product merch shadow">
							<div class="cd-pricing-body">
								<ul class="cd-pricing-features merch big-bold" style="display: flex;flex-direction: row;flex-wrap: wrap;justify-content: center;">									
									<li><em>Hors 1</em><img src="/static/img/gif/hors-1.gif" alt=""></li>
									<li><em>Hors 2</em><img src="/static/img/gif/hors-2.gif" alt=""></li>
									<li><em>Hors 3</em><img src="/static/img/gif/hors-3.gif" alt=""></li>
									<li><em>Mony Hors</em><img src="/static/img/gif/hors-money.gif" alt=""></li>
									<li><em>Suport Hors</em><img src="/static/img/gif/hors-support.gif" alt=""></li>
								</ul>
							</div>
						</div>
						<div id="stor-title" class="title-container">
							<h2 class="big-bold">DIGTAL</h2>
							<p>founder ppls pak</p>
						</div>
						<div class="ui-container product merch shadow">
							<div class="cd-pricing-body">
								<ul class="cd-pricing-features merch big-bold" style="display: flex;flex-direction: row;flex-wrap: wrap;justify-content: center;">									
									<li><em>Bare</em><img src="/static/img/gif/bear.gif" alt=""></li>
									<li><em>Lemin</em><img src="/static/img/gif/lemon-1.gif" alt=""></li>
									<li><em>Ravin</em><img src="/static/img/gif/raven.gif" alt=""></li>
									<li><em>Goos</em><img src="/static/img/gif/goose.gif" alt=""></li>
									<li><em>Moody Day BG</em><img src="/static/img/games/horsplay/backgrounds/mood-bg-1.png" alt=""></li>
									<li><em>Moody Clouds BG</em><img src="/static/img/games/horsplay/backgrounds/mood-bg-2.png" alt=""></li>
									<li><em>Moody Moon BG</em><img src="/static/img/games/horsplay/backgrounds/mood-bg-3.png" alt=""></li>
									<li><em>Moody Dusk BG</em><img src="/static/img/games/horsplay/backgrounds/mood-bg-4.png" alt=""></li>
									<li><em>Moody Scifi BG</em><img src="/static/img/games/horsplay/backgrounds/mood-bg-5.png" alt=""></li>
									<li><em>Moody Scifi-Alt BG</em><img src="/static/img/games/horsplay/backgrounds/mood-bg-6.png" alt=""></li>
								</ul>
							</div>
						</div>
						<div id="stor-title" class="title-container">
							<h2 class="big-bold">DIGTAL</h2>
							<p>manz bes fren pak</p>
						</div>
						<div class="ui-container product merch shadow">
							<div class="cd-pricing-body">
								<ul class="cd-pricing-features merch big-bold" style="display: flex;flex-direction: row;flex-wrap: wrap;justify-content: center;">									
									<li><em>Dog 1</em><img src="/static/img/gif/dog-1.gif" alt=""></li>
									<li><em>Dog 2</em><img src="/static/img/gif/dog-2.gif" alt=""></li>
									<li><em>Dog 3</em><img src="/static/img/gif/dog-3.gif" alt=""></li>
									<li><em>Persin 1</em><img src="/static/img/gif/person-1.gif" alt=""></li>
									<li><em>Persin 2</em><img src="/static/img/gif/person-2.gif" alt=""></li>
								</ul>
							</div>
						</div>
						<div id="stor-title" class="title-container">
							<h2 class="big-bold">DIGTAL</h2>
							<p>helpfil tools pak</p>
						</div>
						<div class="ui-container product merch shadow">
							<div class="cd-pricing-body">
								<ul class="cd-pricing-features merch big-bold" style="display: flex;flex-direction: row;flex-wrap: wrap;justify-content: center;">									
									<li><em>Glok</em><img src="/static/img/gif/glock.gif" alt=""></li>
									<li><em>Helmat</em><img src="/static/img/gif/helmet.gif" alt=""></li>
									<li><em>Tools 1</em><img src="/static/img/gif/tool-1.gif" alt=""></li>
									<li><em>Trools 2</em><img src="/static/img/gif/tool-2.gif" alt=""></li>
								</ul>
							</div>
						</div>
						<div id="stor-title" class="title-container">
							<h2 class="big-bold">DIGTAL</h2>
							<p>weerd stuf pak</p>
						</div>
						<div class="ui-container product merch shadow">
							<div class="cd-pricing-body">
								<ul class="cd-pricing-features merch big-bold" style="display: flex;flex-direction: row;flex-wrap: wrap;justify-content: center;">									
									<li><em>Tranq 1</em><img src="/static/img/gif/tranq-1.gif" alt=""></li>
									<li><em>Tranq 2</em><img src="/static/img/gif/tranq-2.gif" alt=""></li>
									<li><em>Person 3</em><img src="/static/img/gif/person-3.gif" alt=""></li>
									<li><em>HorsGoos</em><img src="/static/img/loading/hors-load-3.gif" alt=""></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		
		{% if logged_in %}
			<!-- ACCOUNT MODAL -->
			<div id="accountModal" class="cd-filter shadow">
				<div class="sticky-container">
					<div class="modal-title-container sticky">
						<div class="modal-title-wrapper">
							<div class="title-wrapper">
								<h4 class="modal-title big-bold color-primary-darker center">Account Profile</h4>
								<a href="#0" class="cd-close-filter flex-right"></a>
							</div>
						</div>
					</div>
				</div>
				<form>
					<div class="cd-filter-block">
						<div class="cd-filter-content">
							<div class="title-wrapper flex settings">
								<h4 class="bold color-contrast-medium">Plan</h4>
								{% if subscription_type == 'free' %}
									<div class="label free big-bold">FREE MEMBER</div>
								{% elif subscription_type == 'one' %}
									<div class="label one big-bold">ONE</div>
								{% elif subscription_type == 'plus' %}
									<div class="label plus big-bold">PLUS</div>
								{% elif subscription_type == 'max' %}
									<div class="label max big-bold">MAX</div>
								{% else %}
								{% endif %}
							</div>
							<div class="title-wrapper flex settings">
								<h4 class="bold color-contrast-medium">Name</h4>
								<p class="bold color-contrast-higher">
									{% if name %}
										{{ name }}
									{% else %}
										Guest
									{% endif %}
								</p>
							</div>
							<div class="title-wrapper flex settings">
								<h4 class="bold color-contrast-medium">Email</h4>
								<p class="bold color-contrast-higher">
									{% if logged_in %}
										{{ email }}
									{% else %}
										Unknown
									{% endif %}
								</p>
							</div>
							<div class="title-wrapper flex settings">
								<h4 class="bold color-contrast-medium">Avatar</h4>
								{% if logged_in %}
									<div class="profile-image">
										<img src="{{ picture }}" alt="Profile Picture" width="100" height="100">
									</div>
								{% else %}
									<div class="profile-image">
										<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/480px-Default_pfp.svg.png" alt="Profile Picture" width="100" height="100">
									</div>
								{% endif %}
							</div>
						</div>
					</div>
					<div class="cd-filter-block">
						<div id="accountTools" class="title-wrapper flex settings bg-none">
							<button type="button" id="accountSaveBtn" class="pickle shadow hide">Save</button>
							<button type="button" id="accountSignOutBtn" class="pickle shadow">Sign Out</button>
							<button type="button" id="accountDeleteBtn" class="pickle shadow hide">Delet Accnt</button>
						</div>
					</div>
				</form>
			</div>
		{% else %}
		{% endif %}	
		</main> <!-- cd-main-content -->
	<script>
		window.auth0UserId = '{{ user_id }}';
	</script>
	<script>
		window.auth0UserId = '{{ user_id }}';
		window.firebaseToken = '{{ firebase_token }}';
	</script>
	<script src="/static/js/resources/jquery-2.1.1.js"></script>
	<script src="/static/js/resources/jquery.mixitup.min.js"></script>
	<script type="module" src="/static/js/main.js"></script> <!-- Resource jQuery -->
	<script type="module" src="/static/js/firebase.js"></script>
	<script src="/static/js/resources/jquery.min.js"></script> <!-- Added for the draggable UI -->
	<script src="/static/js/resources/jquery-ui.js"></script> <!-- Added for the draggable UI -->
	<script src="/static/js/resources/jquery.ui.touch-punch.min.js"></script>
	</body>
</html>